[2018-11-18 19:43] szafran81 commented on #261
Ok. So restreamer is out. It only gets the cam stream and reencodes it using ffmpeg. On c920 with 1920x1080x30 input I've got only about 5fps output.
Maybe someone that's more into ffmpeg can do somethings with the command lines that restreamer used:
[code]

[2018-11-18 21:34] szafran81 commented on #261
MotionEyeOS is also out for me. Should work fine for most with very little config. But with c920 at 1920x1080x30 setup I was getting only ~2fps output stream. After investigation I've found out that the only way for it to use any hardware help is when one is using raspicam. But then there is only 1 cam per device. Otherwise everything is pure software/CPU based, and reencoded (no direct streming h

[2018-11-18 21:42] szafran81 commented on #273
@FormerLurker I have never seen this happen (which doesn't mean that it doesn't) since I've built my first printer using good old Sangu clone a lot of years ago. If you've experienced it then maybe it is a good idea to fix that situation.

BTW. I wanted to ask about all those new settings. Is it really a good idea to set those ? You can read the setup from Slic3rPE gcode file (at the end). This wi

[2018-11-18 21:50] steve220 commented on #273
Fresh install of both Octoprint and Octolapse running latest versions of both. For some reason, my rendered movies now appear to highly pixelized. Movies show the correct resolution (1280X720), but the data rate is very low. Any thoughts on where to look would be appreciated!

[2018-11-18 22:17] steve220 commented on #273
Disregard. For some reason, the "K" behind 10000K for the bitrate was missing. All is good.

[2018-11-19 00:03] Jnesselr opened #276 "[Request]"
#### If this is a feature request describe it here

I believe this is a request, but it might just be me not understanding octolapse. I have an existing octoprint printer profile and a bunch of slicer profiles already set up for my hackerspace. A few members were asking about Octolapse, so I tried to install it but it would appear I have to completely add a new profile as opposed to pointing it to

[2018-11-19 02:58] cerw commented on #273
Same issue here, had to resave some setting, but prints were getting canceled, now it says my WebCam is failing so had to disable the whole plugin :(

[2018-11-19 10:42] szafran81 commented on #261
I'm a bit annoyed by this situation. It appears there is no simple way to redirect x264 stream from camera to html img. One can start streming the strem with something as simple as this:
`cvlc v4l2:///dev/video0:chroma=h264:width=1920:height=1080 --sout '#standard{access=http,mux=ts,dst=localhost:8080,name=stream,mime=video/ts}' -vvv`
But one needs a software (like vlc or mplayer) to play that str

[2018-11-19 11:36] psfbc commented on #273
Something is not right...
I didn't update Slic3r (printer firmware is the same also), so the error message I'm seeing start after I upgrade octolapse.
You are now tell me that this protection is not new and it was already presente in previous version of octolapse. So my question is: Why I was not seeing that message before?

[2018-11-19 11:43] psfbc commented on #273
@FormerLurker  something is not right...
I didn't update Slic3r (printer firmware is the same also), so the error message I'm seeing started after I upgrade octolapse.
You are now tell me that this protection is not new and it was already presente in previous version of octolapse. So my question is: Why I was not seeing that message before?

Nevertheless I understand your point and it makes sense

[2018-11-19 13:31] FormerLurker commented on #273
@psfbc, I'm not sure why you weren't seeing that warning before you upgraded.  Sorry about the additional error you are having to deal with.  I am definitely going to look at simplifying the setup for the next release.

[2018-11-19 13:32] FormerLurker commented on #273
@szafran81, I am currently working on reading the slicer settings directly from the gcode in Slic3r and Simplify3d (cura doesn't supply the settings within the gcode file unfortunately).  For now these settings will need to be updated whenever your slicer settings change :(

[2018-11-19 13:34] FormerLurker commented on #273
@cerw, is this a new install or an upgrade?  I'm not sure why your camera is failing.  Could you supply me with the error message you are seeing as well as your camera settings?  If you want you can just export your settings.json file from the Octolapse settings (OctoPrint settings (wrench/spanner)->Octolapse->Download Settings) or you can just include a few screenshots of your camera profile sett

[2018-11-19 17:32] Leprechaun91 commented on #134
Hey,

octolaps is still not working cuz of the missing z homing.
Do you know any solution?

[2018-11-19 17:47] psfbc commented on #273
@FormerLurker , no need to say sorry, I'm not complaining :), I appreciate your work and let me take the opportunity to say thank you for it. My goal was: first trying to understand and second trying to help by giving feed-back.

[2018-11-19 20:00] FormerLurker commented on #276
@Jnesselr, many of the print profile parameters can be used from the current default OctoPrint profile, like the build volume.  The rest of the printer profile settings require some info from the slicer, which varies pretty dramatically from printer to printer.  It also requires updating if the slicer values change, unfortunately.

I am working on a feature that will pull settings directly from th

[2018-11-19 20:01] FormerLurker commented on #273
@psfbc, I know you aren't complaining, and your posts have been helpful.  Please keep it up!  I appreciate the feedback and will take it to heart.

[2018-11-19 20:34] FormerLurker commented on #275
Can you post your boot/octopi.txt settings (remove anything sensitive in there before posting please)?  Also, can you let me know what version of OctoPi you are using?  Your camera model may help, since the custom settings aren't available when using all cameras (though I have never seen the control.htm screen look like that screenshot you posted).  Lastly, are you running any proxy software?

[2018-11-19 20:55] BastR commented on #275
I have a RPI camera V2, my boot/octopi.txt is here [https://drive.google.com/open?id=1Zhy7HZsyoiorQY_h8IpiVNKDl7Tp29U7](url), I'm not running a proxy software :(

OctoPrint version : 1.3.9
OctoPi version    : 0.15.1

[2018-11-19 21:16] FormerLurker commented on #275
@BastR, I'm not sure if the raspberry pi camera supports the control.htm page unfortunately.  I don't have an RPI camera right now, but I'll look into getting one so I can test.

You might want to post on the OctoPrint discourse page at https://discourse.octoprint.org/

It's likely that someone there knows if control.htm should work for the raspi cam.

[2018-11-19 21:39] FormerLurker commented on #134
Hey, OMG I never updated this, so sorry!

If you are using the new Octolapse v0.3.4, you can try adding a

[code]
Not sure if your printer will like that gcode.  If it complains, please let me know.  I'm going to be out of town for most of this week though, fyi.

[2018-11-19 21:40] FormerLurker commented on #134
Hey, I made a typo above (since corrected).  It's the letter O not zero, like so:
[code]

[2018-11-20 06:03] BastR commented on #275
It's a pity, the rpi camera is not expensive and I find the quality acceptable.  The negative point in my opinion is to have to modify the file /boot/octopi.txt and systematically restart the rpi to change the camera settings... it's very annoying.

Maybe I'm not doing it right.

I’ll post on https://discourse.octoprint.org/.

Thanks you

[2018-11-20 17:01] ainuke commented on #273
Hello and thank you for the awesome plugin.
I've been having the same issue with the missing G90/91 in Slic3rPE with Prusa mk3. You seem to be saying that this printer uses absolute xyz axis mode, yes? So changing setting from "require explicit g90/G91" to "absolute" will resolve?

I can see that best practices would dictate that the setting be implemented via gcode, especially in a mixed environm

[2018-11-20 18:05] FormerLurker commented on #273
@ainuke, yes, the default to absolute option will work fine.

However, fyi, using a single printer doesn't reduce the value of having a G90 before any G1/G0 commands.  The main purpose is to prevent any previous print jobs or manual commands from affecting the current job.

[2018-11-21 00:59] cerw commented on #273
@FormerLurker  the webcam issue was not related sorry, but still getting some warning about the GCODE.

[code]

I am using Prusa i3 Mk3.

[2018-11-22 11:22] jalanjarosz opened #277 "Y-Shift while printing"
#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: 0.3.4

#### Version of OctoPrint

OctoPrint Version: 1.3.9

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: No

#### What were you doing when the problem occurred

1. Printing a large model, approx 195

[2018-11-22 12:10] jalanjarosz commented on #277
Issue started happening after v0.3.4 was installed on 21nov.  I was using a RC build previous to that

[2018-11-22 12:18] jalanjarosz commented on #277
Printing same large file with Octolapse turned off to see if I can get successful print.  Will advise hopefully later tonight.

Happy Thanksgiving!

[2018-11-22 13:35] collse commented on #221
and I thought I was the only one thinking not being able to getting this to work properly - it did extend my print time to at least 300% - would be nice to see if you could specify a Z position and snapshot every other time whenever it is being surpassed no matter the X / Y position preferable on the deeper Y position ...

[2018-11-22 16:23] FormerLurker commented on #277
Thanks you, and I hope you also have a happy holiday!

You might want to try turning your travel speed down a bit.  A while back I too had problems with shifting layers that I resolved by tightening my belt a bit.  If you continue to have issues, let me know.

[2018-11-22 16:59] jalanjarosz commented on #277
Thanks for the response.   Before the last print, I changed the Y-Belt and made sure it was enough tension.  I don't "believe" it's a mechanical issue yet.    I'm 36% in the print and it's going well.

Being I'm printing at 80mm/s, do you think that Octolapse might not be able to keep up with this larger model?

[2018-11-22 17:04] jalanjarosz commented on #277
I should ask.   If I run the "virtual" printer, do you think I could reproduce the issue?  I could turn on Octolapse logging.

[2018-11-22 17:06] FormerLurker commented on #277
If there is a bug in the sent gcode, probably.  Turn off all logging except gcode sent and the snapshot gcode setting.  However, it will be a lot of data to review.

[2018-11-22 17:07] FormerLurker commented on #277
Just curious, what is your travel speed setting in octolapse?

[2018-11-22 17:09] FormerLurker commented on #221
You can!  Set the height in your snapshot profile and octolapse will take a pic at that interval.  Op wanted me to automatically detect this situation, and I will implement that soon.

[2018-11-22 17:31] jalanjarosz commented on #277
Travel speed is 160mm/s in Octolapse

[2018-11-22 17:35] FormerLurker commented on #277
That is pretty high.  Are you running a Bowden setup or direct drive?

[2018-11-22 17:36] FormerLurker commented on #277
Also, I'm not dismissing the possibility that octolapse is causing this.  I want to make that clear :)

[2018-11-22 17:36] jalanjarosz commented on #277
Bowden and E3D.  I'm printing PETG right now.  The extra speed helps reduce blobs and strings.

[2018-11-22 17:42] FormerLurker commented on #277
I'll look through the files you posted when I return from my Thanksgiving travels.  In the meantime please keep your log files, and maybe try dropping your travel speed by 50 mm/sec, then run some small test print to see if you still get layer shifts.  If it happens at really low speeds that will strengthen the likely hood that it is octolapse and not mechanical.

[2018-11-22 17:45] jalanjarosz commented on #277
So you can gauge my setup:
Raspberry Pi 3B+, I have a good quality PSU with a good quality USB cable to power.
2 USB cam's  the c920 is HD in resolution, the HP is SD
Both cam's have been directly on the Pi, when it first happened, but I recently moved them to a powered USB 2.0 hub, just to reduce any chance the issue is Pi power related.

The SD Card is Samsung microSDXC UHS-1 card. Rated at 100m

[2018-11-22 18:51] FormerLurker commented on #275
Thank you so much for letting me know!  Now I can advise future users.  Good luck and happy holidays!

[2018-11-22 20:55] jalanjarosz commented on #277
Well, it appears to not be Octoprint related.
What I saw when it happened, is the nozzle dragged across the part and made it skip.   I'm adding in Z-Hop when retracted and Z-Hop over printed parts combined with slowing down travel speed.

Thanks for your willingness to check this out and providing some suggestions.

[2018-11-22 20:55] #277 closed

[2018-11-22 20:55] jalanjarosz commented on #277
Issue is not Octolapse related.

[2018-11-22 22:41] FormerLurker commented on #277
Of course, and thanks for posting!  I must admit I was a bit worried since I was also having layer shift issues, lol!  Fortunately it was just a coincidence.  Please let me know if you have any other issues or questions in the future.

[2018-11-23 00:35] z1nfinity opened #278 "Double Purge"
#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: 0.3.4

#### Version of OctoPrint

OctoPrint Version: 1.3.9

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: No

#### What were you doing when the problem occurred

1. Input Cura Slicer settings into th

[2018-11-23 01:01] FormerLurker commented on #278
This is strange, but not unexpected behavior.  Can you check what layer height your prime line is printing at?  If it is greater than your layer height, there is a setting that can be used to prevent this.  If you include your start gcode, I'll take a look.  Unfortunately I do not have an mk3 to test :(

[2018-11-23 01:37] z1nfinity commented on #278
I'm not familiar enough with 3D printer g-code yet, but I can post the start code used in Cura.

;TIME:16446
;Filament used: 2.03734m
;Layer height: 0.08
;Generated with Cura_SteamEngine 3.6.0
M82 ;absolute extrusion mode
G21 ; set units to millimeters
G90 ; use absolute positioning
M82 ; absolute extrusion mode
M104 S215 ; set extruder temp
M140 S60.0 ; set bed temp
M190 S60.0 ; wait for bed temp

[2018-11-24 05:12] z1nfinity commented on #278
Here are my Cura settings.
https://imgur.com/Fmj8va8

[2018-11-25 21:01] szafran81 commented on #261
@FormerLurker I've managed 3 streams with mjpg_streamer on a RPI3 with 3x 1920x1080x10 - anything above 10fps and it wont do it. So a total of 30fps is max with mjpeg.

On the other hand using a Dell minipc (3020m) with an i5 on board I've managed 3x 1920x1080x30 streams no problem (but each cam had to be in it's own USB port on the machine - when I've connected them to a USB 3.0 hub only one work

[2018-11-26 20:54] 3dnewb opened #279 "Octolapse - Camera Error ERROR: Could not trigger image capture. ERROR: Could not capture."
#### If this is a feature request describe it here

I followed the installation tutorial found here: https://github.com/FormerLurker/Octolapse/wiki/Configuring-an-External-Camera

This is not a feature request:

I have no issue running the script from SSH, the output file is saved
as seen here: pi@octopi:~ $ /home/pi/scripts/take-snapshot.sh 1 1 "" "/home/pi/scripts" "" "/home/pi/scripts/test.jpg"

[2018-11-27 14:43] FormerLurker commented on #279
Hi, thanks for submitting your issue!  Can you post your script?  I'm guessing it's probably the same as the example script from the tutorial, but it never hurts to check.

[2018-11-27 21:12] infomagichand opened #280 "Octolapse (0.3.4) Lost Printers list"
Octolapse Version: (0.3.4)

After i updated the Octolapte (0.3.4) plugin, i lose the list of the 3D printers, now i onlly have the one that was previous selected =(

i uninstalled the plugin and reinstalled without luck...it keeps only showing 1 printer in the list. =(
how can i fix this?

[2018-11-27 21:15] Xlaits opened #281 "Access Forbidden"
#### Version of Octolapse
Octolapse Version: 0.3.4

#### Version of OctoPrint
OctoPrint Version: 1.3.9

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: No

#### What were you doing when the problem occurred

1. Install OctoLapse
2. Change Printer Profile settings
3. Save

#### What should have happened?
Printer profile should have saved

[2018-11-27 21:15] Xlaits commented on #281
I apologize now for some of the missing info, as I am working on getting that solely from an SSH session.

[2018-11-27 21:34] FormerLurker commented on #273
@cerw, go into your printer profile and set the xyz axis mode to 'Default to Absolute'.  That should take care of it.  I'll be making this the default setting for the MK3 soon.

[2018-11-27 21:52] FormerLurker commented on #280
@infomagichand, sounds like an upgrade bug when converting the settings.  Perhaps you can help me fix it.  Please export your settings (OctoPrint settings (wrench/spanner icon)->Octolapse->Download settings) file and post it here if you can.  Then you can restore the default settings (OctoPrint settings (wrench/spanner icon)->Octolapse->Restore All Default Settings).  Unfortunately you'll lose you

[2018-11-27 21:56] FormerLurker commented on #281
@Xlaits, this is a new one, thanks for reporting it!  Have you tried rebooting the pi to see if that fixes things?  Also, have you added any security to your OctoPi (proxy software, etc.)?

If none of the above applies, perhaps you can turn on the developer console (F12 for firefox) then go to the console and try editing your printer profile.  Any errors in the console?  If not, switch to the netw

[2018-11-27 22:30] Xlaits commented on #281
[Firefox Console Output](https://hastebin.com/muyoqasoxi.sql)

So, I also can't log out, yet I have to log back in each time I reload.

[2018-11-28 01:06] KalebClark opened #282 "External camera script triggering twice"
#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: OCTOLAPSE_VERSION_GOES_HERE

#### Version of OctoPrint

OctoPrint Version: OCTOPRINT_VERSION_GOES_HERE

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: YES

#### What were you doing when the problem oc

[2018-11-28 01:09] KalebClark commented on #282
Sorry there is no log. I have full diagnostic test mode on, but it did not generate the log file.

[2018-11-28 02:17] FormerLurker commented on #282
Double check for the log file (Octoprint settings->logs->plugin_octolapse.log) please.  The logger is probably the best tested feature (lol), but if you still don't see it, I think that's the first problem that needs to be solved.

Maybe take a look in the settings for the debug profile.  Maybe logging got disabled somehow.

[2018-11-28 02:38] FormerLurker commented on #281
So this is a fresh install of octolapse?  Something seems to be going wrong pulling the profile data down.  Can you try restoring the default settings in Octoprint settings->Octolapse), then restart Octoprint.

Also, there are lots of 404 and 403 errors in your log file, most aren't related to Octolapse.

You might try uninstalling octolapse and seeing if things start working again.

I will have m

[2018-11-28 02:43] Xlaits commented on #281
Uninstalling OctoLapse solves all of my problems, until I install it again.

Using the "restore defaults" doesn't work, either. It literally just sits there, doing nothing.

[2018-11-28 04:52] FormerLurker commented on #281
Ok, thanks for letting me know.  Can you try disabling all your other plugins temporarily, except octolapse?  Perhaps it is a conflict of some type with a particular plug-in.

[2018-11-28 15:04] KalebClark commented on #282
Got the log!

here it is: https://gist.github.com/KalebClark/1ee19452d44d51233bd8a480920ca171

Thanks for the replay FL!

[2018-11-28 15:53] FormerLurker commented on #282
Ok, thanks for the log!  Can you also let me know what version of Octolapse and OctoPrint you are using?  Also, are you running OctoPi (if so which version), or did you install OctoPrint manually?  Also, if you can please post your snapshot script too so I can proofread it.

Lastly, I'm assuming you don't get any error on the first snapshot, right?  If not, maybe you can also post your test gcode?

[2018-11-28 16:42] KalebClark commented on #282
Thanks for the prompt reply! (Fixed?? See bottom)

**More Info**: Octoprint and Octolapse have been running perfectly with previous release of octolapse and raspi cam. Updated octolapse to 0.3.4 for external script functionality.

**More Info**: Right when the print head goes to back left (as it should), I do a ps -eaf on the raspi to see the gphoto command running. On every snapshot I see two ins

[2018-11-28 16:50] FormerLurker commented on #282
Thanks for all of that!  I will wait to review until I hear back regarding your real print :)  My guess is that you are seeing the script process as well as the child process (from `sudo gphoto2 --capture-image-and-download --filename "${SNAPSHOT_FULL_PATH}"`).  I'm guessing your printhead stays put the entire time the snapshot is being downloaded, right?  If so, it's possible to trigger a snapsho

[2018-11-28 16:54] KalebClark commented on #282
Yep, Printhead is staying still for 20 seconds =) Really slowing down this print. haha.

I would be interested in testing that! Is the functionality built in to this version? Do I just do --capture-image, and then setup the pre/post scripts to wipe SD (CF in my case... Its a 300D) and download images?

[2018-11-28 17:02] KalebClark commented on #282
More fun info, print failed due to "too many consecutive timeouts". Terminal complaining about all the timeouts from waiting for the image to download.

It ran about 15 snapshots, then choked on the timeout. So its not consistent, some frames work, some dont apparently.

[2018-11-28 17:05] FormerLurker commented on #281
@Xlaits, I just looked a bit more at your logs, and it looks like you're being attacked.  Are you using port forwarding to access your pi over the internet?  If you, there are MUCH better and SAFER alternatives you should look into.  It's just a matter of time before your system is compromised, if it isn't already.  If I were you I'd start over with a clean install (I know that is a painful option

[2018-11-28 18:18] KalebClark commented on #282
Ill check out those timeouts.

Raspi 3 B+.

Its the camera that is the bottleneck. Its *the first* digital rebel. Bought it like 17 years ago! I was trying to use it as a dedicated camera. I plugged in my Canon 70D and it took picture, downloaded (at high resolution) within 4 seconds.

I also checked that the old camera does not support bulk download, or deleting files from the CF card. Im going t

[2018-11-28 18:32] FormerLurker commented on #282
No problem at all!  I'm more than happy to help, especially someone who is willing to post all the necessary info and is willing to put up with the back and forth :)

You might still be able to use that camera though.  You might be able to use the '--trigger-capture' flag, then download the resulting images from your camera manually.  That would be an extra step for you to perform, but it might ju

[2018-11-28 20:09] KalebClark commented on #282
Awesome, Trying it now.

That old camera does not support "--trigger-capture". Had to use "--capture-image". Docs say its the same thing. Captures to internal memory. Camera also does not support the init script for capture target, nor any other config commands. Or erasing images, or even downloading images...

**Going to try this process**:
1. Format card manually.
2. Let octolapse capture all im

[2018-11-28 22:46] FormerLurker commented on #281
Let me know how big the disk image is, and let me know if you'd be willing to send me a copy somehow.  If so, maybe I can restore it on my rpi.  That would (hopefully) let me see this error in action.  I'd really like to figure out what in the heck is going on.

Also, as an aside, have you considered opening up ONLY the mjpegstream to the internet?  This would be much safer, and would let you embe

[2018-11-29 00:36] KalebClark commented on #282
Alright, Futzed around with this for a bit. That procedure was seeming to work, but I ran into something new.

When using Octolapse, prints get stringy. I turned off octolapse, and prints are fine. I have verified that all my slic3r PE settings match on the Octolapse printer settings page. Very familiar with that, and I am positive they are right. I cancelled some of the prints, thats why they don

[2018-11-29 00:38] FormerLurker commented on #282
Did you select your slicer type in the printer profile, then copy the settings out?  If not, try that first.  There are lots of ways to deal with this part.

[2018-11-29 00:51] KalebClark commented on #282
Yeah, In the Octolapse printer config, I selected Slic3r Prusa Edition and copied all the settings from slic3r to the Octolapse printer config.

[2018-11-29 00:53] FormerLurker commented on #282
Double check retraction length and speeds.  Don't use 0 for either speed!

[2018-11-29 01:09] KalebClark commented on #282
The MK3 profile default with Slic3r PE has detraction speed at 0. Works fine for all other prints.

I can change it and run my quick test again to see what happens.

[2018-11-29 01:11] FormerLurker commented on #282
Sorry that's a known issue.  Put in the retraction speed (that's what 0 means in slicer, but it means something different in others.  Working on that).  See if that helps.

[2018-11-29 01:35] KalebClark commented on #282
I set retraction and detraction to 35 in slic3r and in octolapse.

Same result. Stringy fun!

[2018-11-29 01:54] FormerLurker commented on #282
Boo!  Is that all that's changed since you posted your settings?  I'll take a look at them tomorrow if so.  That amount of stringing is not acceptable :)

[2018-11-29 02:05] Xlaits commented on #281
It's about 8GB, and I have no problems sending you a copy, however I would need to make you an admin account before sending it to you.

Other than that, No I haven't, actually. I have no idea how I'd go about that.

[2018-11-29 02:11] FormerLurker commented on #281
Cool!  I'll look into ways of only allowing external access to the cam stream.  I'd like to do that myself.  I currently use VPN.

[2018-11-29 03:01] 3dnewb commented on #279
Sorry for the delay!

Yes, I am using the script straight from the tutorial.

On Tue, Nov 27, 2018, 6:43 AM FormerLurker <notifications@github.com wrote:

[2018-11-29 03:57] FormerLurker commented on #279
Can you turn on full diagnostic test mode, print a few layers with your DSLR attached, then download plugin_octolapse.log and send me a copy please?  Hopefully there is some info in there.

Also, turn your snapshot timeout way up, say 30 seconds, just to rule that out.

[2018-11-29 03:58] 3dnewb commented on #279
Sure thing, I will do it later tonight

On Wed, Nov 28, 2018, 7:57 PM FormerLurker <notifications@github.com wrote:

[2018-11-29 03:58] FormerLurker commented on #279
Fyi, the snapshot timeout is in the camera profile.  Lastly, did you watch the YouTube tutorial on getting DSLR working (just curious)?

[2018-11-29 05:06] Xlaits commented on #281
So, with a fresh install of OctoPi and Octolapse, I have _no_ issues.

[2018-11-29 22:56] Xlaits commented on #281
https://mega.nz/#!NZJV0CSI!msfQo3w0ixwt9cigLwrsBzuVtj_gQsfSdH_vuZ1FJTs

[2018-11-30 16:54] KalebClark commented on #282
Hey man, sorry for delay! The only things I have changed are logging levels (Test mode -> Real -> Test etc.) and printer settings in octolapse for the few items you asked to change. So settings.json should still be relevant.

[2018-11-30 16:56] angryjelly24 opened #283 "Octoprint 1.3.9 [Running setup.py install for pillow: started]"
#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: OCTOLAPSE_VERSION_GOES_HERE

#### Version of OctoPrint

OctoPrint Version: OCTOPRINT_VERSION_GOES_HERE

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: YES_OR_NO

#### What were you doing when the prob

[2018-11-30 17:12] FormerLurker commented on #283
Try manually installing pillow into the Virtual environment.  Be sure you upgrade pip first.  Let me know if you need help with that.

[2018-11-30 17:13] FormerLurker commented on #282
Excellent!  I'll take a look tomorrow.  I have an mk2.5 upgrade to do first :)

[2018-12-02 10:07] ManuGithubSteam commented on #255
Hi,
Just to inform you: My webcsam has broken down. Till i have a new one and a new octiprint insall i will not be able to report back...

[2018-12-05 17:00] DeclanCSL commented on #234
@FormerLurker i need your advice to guide me ..
i did what you told us but still cant
1) source oprint/bin/activate
2) pip install --upgrade pip
![image](https://user-images.githubusercontent.com/45634500/49529805-d3dbbc00-f8f1-11e8-8491-c512990ecb04.png)
![problem 1](https://user-images.githubusercontent.com/45634500/49529869-f53ca800-f8f1-11e8-9d5d-ed414bb71b02.PNG)
![problem 2](https://user-ima

[2018-12-05 17:54] FormerLurker commented on #234
@Bmarquez1997 - I'm SO SORRY about the delay in responding!  This got lost in the blur that is year end :)

I see this error pop up from time to time, but have never been able to figure it out.  I have to say I've never seen it from a fresh install, though sometimes pip needs to be updated for whatever reason.  It's so irritating I'm thinking about switching to a different library altogether.

@Bm

[2018-12-05 18:02] FormerLurker commented on #234
One last thing to try.  You could be missing dependencies (though I can't figure out how since we're all using the same image).  Try running this command outside (not within) the virtual environment:

[code]

Then retry the pillow install via
[code]

[2018-12-06 00:59] Bmarquez1997 commented on #234
Below is the output from trying to run the pillow install manually, and
then the output from running the octolapse install through the OctoPi UI.
I've also attached the octoprint.log referenced in the octolapse install,
in case that helps.  Like you mentioned above, I can open a ticket on the
Pillow page, since this almost seems like a Pillow issue and less of an
octolapse specific one.

[image: i

[2018-12-06 01:01] Bmarquez1997 commented on #234
Apparently I can't attach things through email... Here is the file mentioned above
[octoprint.log](https://github.com/FormerLurker/Octolapse/files/2651214/octoprint.log)

[2018-12-06 05:52] TheKrush commented on #169
Here are all the settings I used when setting up  Ultimaker Cura. Most of these came from the official profiles with magic numbers specifically for MPSM printers.

[Cura.zip](https://github.com/FormerLurker/Octolapse/files/2651834/Cura.zip)

For that spider I was using the `MPSM-D&DFigurine.curaprofile` profile. But they are all mostly the same.

Other than those here's the machine settings I have

[2018-12-06 14:31] FormerLurker commented on #234
@DeclanCSL, can you post the console output for the following command:
[code]
Also, did you run this command:
[code]
if so, did it complete?  Thanks!

[2018-12-06 14:35] DeclanCSL commented on #234
@FormerLurker ..
pip install pillow --no-cache-dir
![image](https://user-images.githubusercontent.com/45634500/49590564-2d51f280-f9a7-11e8-86af-b417ffadbdc1.png)
nothing moving

[2018-12-06 14:47] DeclanCSL commented on #234
[octoprint (2).log](https://github.com/FormerLurker/Octolapse/files/2653474/octoprint.2.log)

[2018-12-06 22:37] FormerLurker commented on #234
@Bmarquez1997 and @DeclanCSL, can you post plugin_pluginmanager_console.log?  That is the file that contains information regarding plugin installs.

@DeclanCSL, maybe you can try the pillow install again?  Hanging like that on download could be some server issue that has since been resolved.  I've personally never seen that before.  Also, I'm assuming the `sudo apt-get install libjpeg-dev zlib1g-d

[2018-12-06 22:46] FormerLurker commented on #169
@TheKrush,

Have you upgraded Octolapse to v0.3.4?  You will be pleased to know that you can now select your slicer type within the Octolapse printer profiles, which makes entering your settings easier.  You will also have to configure your build volume to match your printer by selecting the 'Override Octoprint Printer Profile', entering 0 for all of the min values, and entering the volume above f

[2018-12-07 00:30] DeclanCSL commented on #234
@FormerLurker
yup done sudo apt-get install libjpeg-dev zlib1g-dev
![image](https://user-images.githubusercontent.com/45634500/49619827-54391480-f9f9-11e8-9fcd-bdc6c1f25d1e.png)
still stuck pillow install , wont move
![image](https://user-images.githubusercontent.com/45634500/49619905-b560e800-f9f9-11e8-8d70-9eeeb3e77e25.png)
![image](https://user-images.githubusercontent.com/45634500/49620062-4af

[2018-12-07 00:37] Bmarquez1997 commented on #234
Here's my pluginManager log
[plugin_pluginmanager_console.log](https://github.com/FormerLurker/Octolapse/files/2655449/plugin_pluginmanager_console.log)

The only thing I can really see is that it goes to download octolapse, and then pillow, and then that's the end of the file.

[2018-12-08 05:56] chilicoke opened #284 "[Request] Octolapse as DSLR trigger only, no transfer to Pi nor encode."
#### If this is a feature request describe it here

I just set up an DSLR following your excellent tutorial. However I'm looking to simply use Octolapse as the camera trigger, and would like to keep the captured images on the SLR's memory card to be later processed on my computer, so I can start another print right after instead of waiting for Pi to be ready again.

My guess is this is already pos

[2018-12-08 16:30] gigiukas opened #285 "Could not claim the USB device"
#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: OCTOLAPSE_VERSION_GOES_HERE

#### Version of OctoPrint

OctoPrint Version: OCTOPRINT_VERSION_GOES_HERE

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: YES_OR_NO

#### What were you doing when the prob

[2018-12-09 04:12] OutlawAndy opened #286 "excessive snapshot delay after updating to 0.3.4"
#### Version of Octolapse

Octolapse Version: 0.3.4

#### Version of OctoPrint

OctoPrint Version: 1.3.9

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: NO

***
I've been using Octolapse with a raspicam on my mk3 for sometime with great success.  After updating to 0.3.4 and resolving several initial error codes at the start of printing

[2018-12-09 16:18] DeclanCSL commented on #234
@FormerLurker Pls help me Sir..
im excited to used octolapse..
haha

[2018-12-09 18:57] dun3 commented on #260
I would certainly appreciate that feature, not just because of the danger to the heat bed, but much more because I don't want to mess with first (and second) layer adhesion.

[2018-12-10 05:46] 1Ghasthunter1 opened #287 "When spiralizing outer contours, blobs appear0."
Hello,
I just ran an octolapse with a vase, spiralized outer contour, and had it smooth the Z, so I just had octolapse take a snap every .2mm layer height. When it did this, a slight blob would form on the print. The result is extremely ugly, and ruins the print. How do I fix this?
You can view the images [here](https://drive.google.com/open?id=185Aokyx8400caig0n80Rr_E-ZyVE3ved)

[2018-12-10 12:41] anthonyst91 opened #288 "API /setCurrentProfile responds error HTTP 500"
Hello,

I experiment a HTTP 500 issue when trying to call the POST /setCurrentProfile API.
From octoprint.log I get:
TypeError: 'NoneType' object has no attribute '__getitem__'

I can set the profile settings without any issue from the OctoPrint web interface.

Issue encountered for all types of profiles.

#### Version of Octolapse
Octolapse Version: 0.3.4
Fresh install of Octolapse on a fresh ins

[2018-12-10 13:55] anthonyst91 commented on #288
Damn. I finally fixed the issue by adding the following header:
Content-Type: application/json. Now it works fine!

Previously I was using this header:
content-type: application/json
with 'c' and 't' in lowercase. But the POST always returned 500.

[2018-12-10 14:50] FormerLurker commented on #234
@DeclanCSL,

The command above should be
[code]
not
[code]
Notice that the difference is that zlib1g-dev has a ONE as the fifth character.  Try that again please.

[2018-12-10 14:52] FormerLurker commented on #260
@dun3, in that case I'll take a look at implementation.  Bug me about it if you don't hear back in a couple weeks, thanks!

[2018-12-10 14:58] FormerLurker commented on #287
Vase mode prints are definitely the hardest timelapses to implement.  When using vase mode the nozzle should never leave the print, and obviously Octolapse causes that to happen.  I've gotten a few decent vase mode timelapses to work, but I spent a lot of time tuning my retraction/detraction speeds/lengths.  In the end a perfect vase mode print wouldn't have blobs, but will have some exterior peri

[2018-12-10 15:03] DeclanCSL commented on #234
@FormerLurker
hi sir thank for your reply
![image](https://user-images.githubusercontent.com/45634500/49740721-cba7c600-fccf-11e8-8e4f-73ad12554a1e.png)
but still can't ...

[2018-12-10 15:03] FormerLurker commented on #288
This is an interesting issue, and I'm glad you figured it out!  Yes, the content type is required, as you saw.

Can I ask what you're trying to do?  I love to see people working with the code, and would love some more info if you're willing to give it!

[2018-12-10 16:09] anthonyst91 commented on #288
What's strange is that "content-type" was set, but it was not working until I change it for "Content-Type". That's strange, Flask seems to be case sensitive regarding the headers.
Here's where I found the answer to my issue: https://github.com/pallets/flask/issues/2891

It's finally working well ;)
I've sent you an email few days ago: I'm currently integrating Octolapse in Printoid for OctoPrint:

[2018-12-11 18:06] Pelzkiwi opened #289 "Octolapse stops taking snapshots after wrong sent snap command"
#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: OCTOLAPSE_VERSION_GOES_HERE

#### Version of OctoPrint

OctoPrint Version: OCTOPRINT_VERSION_GOES_HERE

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: YES

#### What were you doing when the problem oc

[2018-12-13 21:06] ninjamojo commented on #284
Hi again!  I wanted to let you know that I haven't forgotten about this, and will get the guide created ASAP (hopefully this weekend).  If you are good with Linux I have the scripts finished and can give you a quick rundown.  Let me know.

[2018-12-13 22:00] chilicoke opened #290 "Visudo: Still having to use "sudo" even after editing visudo with DLSR"
I followed the [DSLR guide](https://github.com/FormerLurker/Octolapse/wiki/Configuring-an-External-Camera) linked from wiki on a loose test Pi 3B, with a little bit of trouble shooting it all seems to work.

Now I'm trying to set it up on my mounted primary Pi 3B+, already edited visudo but ran into issue while testing `gphoto2 --capture-image` command; as it seems I still need to use `sudo gphoto

[2018-12-14 02:19] edasque commented on #131
This is happening to me again since the last release of Octoprint (RC and final of 1.3.10). I don't think anything else has changed.

[2018-12-14 09:50] chilicoke commented on #284
thank you very much, I really appreciate all your contribution!

Kai

On Thu, Dec 13, 2018, 1:06 PM NinjaMojo <notifications@github.com wrote:

On Thu, Dec 13, 2018 at 1:06 PM NinjaMojo <notifications@github.com> wrote:

[2018-12-14 15:53] gigiukas commented on #285
Is here somebody who is willing to help me?

[2018-12-14 16:02] FormerLurker commented on #131
Erik, perhaps your Octoprint printer profile was changed/migrated during the upgrade?  In any case, to fix it for good, open your octolapse printer profile, select 'override Octoprint printer volume' (the name may be a bit different, not at my PC to check), and enter your exact printer volume there.  If you still get position errors, pay attention to the exact error message.  It will tell you the

[2018-12-14 16:04] FormerLurker commented on #285
You didn't fill out the ticket above, so I don't know what your problem is even.  Please fill in the missing info, and be as specific and detailed as possible.  Thanks!

[2018-12-14 16:51] FormerLurker commented on #285
I'm not familiar with that camera.  Does it operate as a webcam, or are you using a custom script to acquire photos (maybe with gphoto2 or digicam control)?

[2018-12-15 14:35] andrelec1 opened #291 "No config menu if Octolapse is Disabled"
Octolapse Version: 0.3.4
OctoPrint Version: Octolapse 0.3.4
OctoPrint 1.3.10

Diagnostic Logging was Enabled: NO

#### What were you doing when the problem occurred
Try to add another webcam on octolapse, but not directly related.

#### What should have happened?
Edit settings of octolapse ...

#### What happened instead?
I only have access to the Main and About page in config.

![image](https://u

[2018-12-15 16:40] FormerLurker commented on #291
So this should probably change.  It made sense when in an earlier version of the interface, but not at all now.  I'll look into the complexity of the change and will get back with an ETA.

[2018-12-17 14:51] DeclanCSL commented on #234
@FormerLurker i used another printer but also cant install octolapse..

[2018-12-17 14:55] leoheck opened #292 "Printer not in the list, what should I do?"
Hi, my printer is not in the printers list.
It is an `Ender3`.
What should I do?

[2018-12-17 15:11] FormerLurker commented on #234
@DeclanCSL, the printer shouldn't affect this at all.  Since there is no error message after 'running setup.py install for pillow ...', it will be very difficult to debug your issue :(

Can you try updating your OS via the following commands:
[code]

Then try to install pillow manually with the following commands and let me know what the output is (hopefully it installs or provides some kind of er

[2018-12-17 15:31] DeclanCSL commented on #234
@FormerLurker
install the pillow  ..the screen just blink 2 time and that it...
[plugin_pluginmanager_console (1).log](https://github.com/FormerLurker/Octolapse/files/2686696/plugin_pluginmanager_console.1.log)
[octoprint (3).log](https://github.com/FormerLurker/Octolapse/files/2686698/octoprint.3.log)
please help to look

[2018-12-17 15:32] FormerLurker commented on #234
@DeclanCSL, I think we need to bring in the big guns now.  Can you post an issue [here](https://github.com/python-pillow/Pillow/issues/new)?  Be sure to include your OS and link to this issue if you can.  I'll chime in when possible.

[2018-12-18 13:20] DeclanCSL commented on #174
@FormerLurker ..pls advice

![image](https://user-images.githubusercontent.com/45634500/50156489-e3073480-0309-11e9-84a3-3a9257c984e7.png)
octolapse is not running...
![image](https://user-images.githubusercontent.com/45634500/50156595-206bc200-030a-11e9-9751-cf4fcc9071de.png)
![image](https://user-images.githubusercontent.com/45634500/50156611-2c578400-030a-11e9-86ff-4e385d337dfc.png)

[Love-Bird

[2018-12-18 13:33] DeclanCSL commented on #234
@FormerLurker it done now..
The problem is the current not enough..
after see the sign and i change to 5V 2.1A then okey ..
haha

[2018-12-18 14:05] Bmarquez1997 commented on #234
@DeclanCSL so the problem is fixed for you by using a power source with
more current? Or am I misunderstanding your last message?

On Tue, Dec 18, 2018 at 8:33 AM DeclanCSL <notifications@github.com> wrote:

[2018-12-18 14:11] DeclanCSL commented on #234
@Bmarquez1997  the voltage
on the octoprint corner will shown a sign of tunder logo means not enough voltage and current..
previous im using 5v 1A..then i change to 2A then okey edi ..
i think when on pillow setup need enough V/A to setup

[2018-12-18 14:22] Bmarquez1997 commented on #234
@DeclanCSL I don't see a thunder image on the web interface, do you mean on
a physical display connected to the raspberry pi?  I'll give it a shot
later today once I can check my power supply's rating

On Tue, Dec 18, 2018 at 9:12 AM DeclanCSL <notifications@github.com> wrote:

[2018-12-18 14:38] DeclanCSL commented on #174
![image](https://user-images.githubusercontent.com/45634500/50161024-9b86a580-0315-11e9-9a3f-97b26bd7d602.png)

[2018-12-18 15:11] DeclanCSL commented on #174
yeh can edi ..
now i can play edi ..Hurayyy
hahah
Thank you  @FormerLurker for your advice ..

[2018-12-18 15:12] FormerLurker commented on #174
Hey @DeclanCSL!  Making progress I see!  Can you download and post your settings.json file for me?  You can export from Octoprint settings-> octolapse.  Thanks!

[2018-12-18 15:16] DeclanCSL commented on #174
@FormerLurker but here cant upload
didn;t support the file..
what should i do ?

[2018-12-18 15:17] DeclanCSL commented on #174
@FormerLurker
{
  "auto_reload_latest_snapshot": true,
  "current_printer_profile_guid": "7c0eb400-5a3e-45b3-aae9-cc01918a9bb6",
  "default_printer_profile": {
    "small_perimeter_speed": null,
    "bridging_speed_multiplier": 100,
    "perimeter_speed": null,
    "outline_speed_multiplier": 100,
    "first_layer_travel_speed": null,
    "top_solid_infill_speed": null,
    "top_solid_infill_speed

[2018-12-18 15:19] DeclanCSL commented on #174
@FormerLurker
[新文字文件.txt](https://github.com/FormerLurker/Octolapse/files/2691090/default.txt)

[2018-12-18 15:20] DeclanCSL commented on #174
[json file.txt](https://github.com/FormerLurker/Octolapse/files/2691096/json.file.txt)

[2018-12-18 15:21] FormerLurker commented on #174
Thanks!  I'll run it through the debugger over lunch and will get back to you.

[2018-12-18 16:52] DeclanCSL commented on #174
ok ill try then to change it,,
thank you for your advice...

[2018-12-18 17:08] FormerLurker commented on #292
Hi @leoheck!  It's not too difficult to create a new printer profile.  It's always possible that things won't work 100% with a printer that hasn't been tested, but it would be unusual.

First take a look at [this video](https://www.youtube.com/watch?v=YsxjQhWKz5w), which explains how to create a profile from scratch.  This was made using a previous version, things have changed quite considerably w

[2018-12-18 17:16] FormerLurker commented on #290
Thanks for posting!  Sorry about my late response.  Winter colds are bad.

Regarding the sudoers file, can you run this command and post the results (pardon me if you've already tried this):
[code]
also, can you post your sudoers file (remove any parts that might contain sensitive info.  probably nothing in there is sensitive, but just in case)?  That will help.

The other problem is likely either

[2018-12-18 17:17] FormerLurker commented on #284
@chilicoke, I wanted to let you know that I haven't forgotten about you!  I've been under the weather, which has slowed me down considerably.  This is still on my radar though!

[2018-12-18 17:21] FormerLurker commented on #285
Have a look at [this](https://github.com/gphoto/gphoto2/issues/181) issue within the gphoto2 github page.  It looks very similar.  It looks like the PI is connecting to the SD card as a mass storage device, which prevents gphoto2 from communicating with it.  You may need to kill the offending processes.

[2018-12-18 18:05] Bmarquez1997 commented on #234
@FormerLurker ah, okay.  I'm still on 1.3.09, so that's probably why I
don't see it.  I went to update to 1.3.10, and it seems the install failed
and broke something else (that is now preventing the server from
starting).  I'm going to just flash a fresh image of octopi tonight, and
give that power supply a try and see if that fixes it.  Thanks!

On Tue, Dec 18, 2018 at 12:28 PM FormerLurker <noti

[2018-12-19 13:03] leoheck commented on #292
Awesome, that is a good info @FormerLurker. I will try to configure it to increase the list the Octoprint list. Thank you.

[2018-12-19 19:07] chilicoke commented on #284
thank you very much for keeping my updated, you are very kind.

-Kai

On Tue, Dec 18, 2018 at 9:17 AM FormerLurker <notifications@github.com>
wrote:

[2018-12-20 02:55] Boymeetsmill commented on #207
@FormerLurker Any work on this oozing?

I did some maintenance and upgrades to my machine. CLA including replacing the nozzle. I thought my issues were related to a worn out nozzle, but then I ran a calibration print and saw odd "oozing". I've attached a link to an image of the print.

[Calibration Print Image 1](https://www.dropbox.com/s/co66sf3uiieounh/2018-12-19%2000.46.07.jpg?dl=0)
[Calibratio

[2018-12-20 18:51] FormerLurker commented on #207
Hey, that's a pretty good test.  Can you send your gcode and settings (exported from Octolapse) for that test please?  I'm going to examine the gcode that octolapse generates to see what the retract and lift gcode generated by Octolapse looks like.  I recently found a bug in the gcode generation routine that can cause some speed issues if the preceding gcode is travel only (no extrusion), and mayb

[2018-12-21 02:16] Boymeetsmill commented on #207
@FormerLurker here are the requested files...

[Octolapse settings](https://www.dropbox.com/s/zp0ri5c2xdlq9sa/Oozing_OL_Settings.json?dl=0)
[File Gcode](https://www.dropbox.com/s/7n013lruyhq29qh/Two_Post_Retraction_Test.gcode?dl=0)

I have a suspicion there is something going on relating to the jog, and priming of the extruder (or something similar). My only evidence is the files in the comment ab

[2018-12-21 15:38] FormerLurker commented on #207
So, the first thing I notice regarding your settings is that your simplify 3d retraction distance is set to 2.2mm, and your printer profile within Octolapse is set to 1mm.  It looks like the rest of the settings are correct.

Please try correcting your retraction distance and try another test.  I'm sure things will improve, but I'm not sure if it will fix the problem.

In the meanwhile, I'll be lo

[2018-12-21 20:43] SystemDisc opened #294 "Request - Fix excessive error popups for out-of-bounds errors"
#### If this is a feature request describe it here
I would like the ability to disable the error message about my print head being out of bounds. I have ae BLTouch mounted on the right side of my print head, and I have configured my printer to consider farthest left and front position that the probe can reach as X0 Y0, which means that when I home the X and Y axis, they are negative values. I do t

[2018-12-21 20:47] FormerLurker commented on #294
So you dont want the printhead to be able to move to these reachable areas when stabilizing?  Also, the error message wont show unless gcode actually moves into this area, so you may want to look at your start gcode.  I will consider the request in any case, though.  Thanks for your post!

[2018-12-21 21:00] SystemDisc commented on #294
No, I don't care whether or not Octolapse will move outside of the defined print area for stabalization.

The position of the head after homing is X:-48.00000, Y:1.00000, and Z is some positive integer.
I have this in my startup code:
[code]

Here's the message from Octolapse:
[code]

[2018-12-21 21:11] FormerLurker commented on #294
Ok, for now set xmin to -40 (either in your octoprint profile or in the octolapse printer profile, let me know if you need help with that), and you'll get the results you want.

Also, fyi, i never imagined the home command causing this message, but looking at the code i see why it happens.  I may be able to find a better fix.  The message is intended to prevent stabilization from going out of boun

[2018-12-21 21:12] FormerLurker commented on #294
Excuse me, -48.

[2018-12-21 23:04] SystemDisc commented on #294
Thank you. I'll do that for now.

[2018-12-22 03:30] talldonkey opened #295 "No "OK" Button when attempting to reset to defaults"
Octolapse Version: 0.3.4
OctoPrint Version: Version 1.3.10
Diagnostic Logging was Enabled: NO

#### What were you doing when the problem occurred

1. I was attempting to reset to defaults as per installation instructions https://github.com/FormerLurker/Octolapse/wiki/Installation
2. Settings->Octolapse->Reset Defaults

#### What should have happened?
3. Warning shows up with a OK or Dismiss button

[2018-12-22 03:47] FormerLurker commented on #295
This might take me a while to fix sinve i dont have access to a Mac.  I will see if i can get an open source license for Browser stack to help me debug.

[2018-12-22 04:11] FormerLurker commented on #295
Oh, i forgot to mention this earlier, but thanks for posting!  I'm sure you're not the only one with this problem, and i dont get much feedback from MacOS users.  Every bit helps!

[2018-12-22 11:02] talldonkey commented on #295
Thanks for the response!  I don't believe that it's MacOS related.  After
your response, I tried on my Pixelbook running ChromeOS (Version
71.0.3578.98 (Official Build) (64-bit)) and was able to exactly reproduce
the issue - you couldn't tell any difference from the Chrome running on
MacOS and ChromeOS.

Just for fun, I booted up my Linux virtual machine (Pixelbook Crostini,
Debian based) and ran

[2018-12-22 11:46] smeg1 commented on #295
Tested on a Mac with safari and I do get the ok or cancel option
![screenshot 2018-12-22 at 11 43 22 am](https://user-images.githubusercontent.com/24874296/50374005-07e7fa00-05df-11e9-9e91-c17228423a4b.png)

[2018-12-22 16:53] FormerLurker commented on #295
Hmmm.  Chrome for android and windows working here.  Could it maybe be some other plugin is interfering?  @taildonkey, can you try disabling all other plugins, rebooting, and trying to restore the defaults?

[2018-12-22 17:56] talldonkey commented on #295
Yes, I think your suspicions are correct about plugin interference.  I
disabled all plugins leaving only Octolapse (including the bundled system
plugin), and it worked!

I'll now proceed through toggling them on one at a time so we can zero in
on the interfering plugin.

On Sat, Dec 22, 2018 at 8:53 AM FormerLurker <notifications@github.com>
wrote:

[2018-12-22 18:05] FormerLurker commented on #295
Sweet!  Once you figure out which plugin it is, it should be a simple matter to determine what is causing the problem.  My bet is on css.  Thanks for spending time to help solve this!

[2018-12-22 18:42] talldonkey commented on #295
Zeroed in on it:  https://github.com/devildant/OctoPrint-ShutdownPrinter

Enabled all plugins except that one --> OK and Close button appear and seem
to function as intended (closing closes, OK looks like it resets stuff)
Enabled all plugins and turned that one too --> Boom repro symptoms!

On Sat, Dec 22, 2018 at 10:05 AM FormerLurker <notifications@github.com>
wrote:

[2018-12-22 18:43] FormerLurker commented on #295
And the hard work is done!  Ill take a look at this plugin and will let you know what i find.

[2018-12-23 00:08] ManicalEngineer commented on #283
Which virtual env does pillow need to get installed in to?

[2018-12-26 22:17] Billd24 commented on #234
Was having issues installing OctoLapse on 1.3.10, and can confirm that the power supply was the issue - very weird !!!

[2018-12-27 16:15] MisterGlass commented on #278
Having a similar issue as well. I actually get several, between each step of the initial purge (bubble, line, bigger line) Here is the relevant portion of my starting gcode (from the [community pretty PLA profile](https://github.com/eoprede/prusa_profiles/blob/master/MK3/Slic3r/Pretty%20PLA%20V3.ini))
[code]
@FormerLurker you mentioned a setting that might help? Is there a way to disable for the f

[2018-12-27 16:59] FormerLurker commented on #278
Hey!  Im working on a setting to prevent snapshots on the first X layers.  Will continue after the holidays.  Hound me if you dont hear back please!  I have quite the backlog and dont want this to get lost.  Thanks!

[2018-12-27 17:00] MisterGlass commented on #278
@FormerLurker Thank you! Enjoy your holiday!

[2018-12-28 21:06] madmax2 commented on #260
@FormerLurker Yeah it is good to be cautious and consider that not everyone's printers will have the same Z homing distance. There are many different factors that determine how close their nozzle is to the bed including:
-how close people have levelled their bed
-firmware settings
-slicer settings..

Yes, that setting might make it more safer...
Please update this thread if you have implemented th

[2018-12-29 13:04] peterpetiesmith commented on #187
I spent some time a trying to do this myself a while ago and just didn't have the time! Thanks @FormerLurker for EVERYTHING to do with this!!

I've just got this working on a virtual printer whilst I am in the middle of a rebuild, however I would love to hear how to defer the download until the end of the print. Once I get the printer back into a single piece I will give the "high quality" a go as

[2018-12-30 18:31] FormerLurker commented on #260
@madmax2, there is a setting to control the extruder speed within the printer profile settings.  The exact name varies according to the slicer type selection.  For Slic3r it's called 'Travel Speed'.  Octolapse will always use this speed when moving to the snapshot location.  Note that this setting should probably match your slicer settings.

@dun3, good point regarding adhesion.  I hadn't thought

[2018-12-30 22:45] FormerLurker commented on #187
@peterpetiesmith - I have a partially finished guide available [here](https://github.com/FormerLurker/Octolapse/wiki/DSLR-with-Deferred-Image-Download).  Some of the guide is not finished, but it mostly involves testing the scripts.  I will be reviewing and tweaking this guide for the next week or so, so let me know if you find any issues or comments.  Let me know if it works too, and good luck wi

[2018-12-30 23:00] FormerLurker commented on #284
Here is a [draft guide](https://github.com/FormerLurker/Octolapse/wiki/DSLR-Image-Capture-With-No-Download).  Some things aren't finished, mostly dealing with testing.  I'll be testing and updating this throughout the week.  Let me know if you have any problems/suggestions, or if things work great!

Thanks!

[2018-12-31 14:49] Pelzkiwi commented on #289
The error occured a second time with the same issue in the logfile.
At line 5635 appears the M117 command with the IP Adress instead of the snap command.

The link to the log file: https://gist.github.com/Pelzkiwi/97a4cb8114d8fea3a52a14d1420bf018

[2018-12-31 15:46] FormerLurker commented on #289
Hi @Pelzkiwi!  The gcode file that you attached in your initial post appears to be a log file.  I see the M117 commands in the log, but would like to see the gcode file too if that's possible.  Thanks!

[2018-12-31 16:09] peterpetiesmith commented on #187
@FormerLurker Thanks for the reply!

Funny you should mention the separate processing of the images in "post" as I think this is actually more in line with what I would like to achieve. I know my way around an edit so it probably makes more sense for me. All seems to work fine "your end", my 7D seems to only take every other photo when I CMD line trigger it which causes it to fail on time-lapse af

[2018-12-31 18:54] devildant commented on #295
normally i fixed the problem, could you try this version of shutdownprinter: https://github.com/devildant/OctoPrint-ShutdownPrinter/archive/master.zip

[2018-12-31 19:37] FormerLurker commented on #187
@peterpetiesmith, regarding the IO error, my guess would be that your camera is still saving an image to SD, and can't be called to capture another snapshot until the first one is finished saving.  Try manually calling ```gphoto2 --trigger-capture```, wait 30 seconds and try again.  If that fails, try again after 60 seconds, etc.  If it doesn't start working after some period of time there is prob

[2018-12-31 19:43] FormerLurker commented on #295
@devildant, that took care of it, thank you so much for the super fast reply and fix!  I am impressed :)

@talldonkey, can you install the newest version of the shutdownprinter plugin by installing from this url within the plugin manger:  https://github.com/devildant/OctoPrint-ShutdownPrinter/archive/master.zip

Let me know if it also works for you, then I'll close my issue in @devildant's github

[2018-12-31 19:51] devildant commented on #295
@talldonkey I am also waiting for your feedback, if it works well, I will make a release.
normally it should work, I made a big cheating (but it's much cleaner): p
Thank you @FormerLurker for your investigation, I admit that I had not thought about the impact on other plugin

[2018-12-31 20:00] FormerLurker commented on #295
@devildant, you and me both!  These kinds of issues are pretty much unavoidable in an extensible environment like OctoPrint, but with team work we can fix them all (well, some anyway, lol!)  Thanks for your work on the shutdownprinter plugin, it's a great!

[2019-01-01 12:40] Pelzkiwi commented on #289
Hi @FormerLurker Thanks for your response! Sorry I attached the wrong file.

This link is the gcode where the issue occured the first time (I had to shorten it for Gist):
https://gist.github.com/Pelzkiwi/b317702cf8022e3eb2120b5b68220d93
This link is the gcode where the issue occured the second time:
https://gist.github.com/Pelzkiwi/ac97576570e11a2f954f841e63431917

Happy new year :-)

[2019-01-01 17:37] szafran81 commented on #267
I can somewhat confirm that.
My setup:
MK3 FW: 3.5.1
MMU2 FW: 1.0.3
OctoPrint: 1.3.10
Octolapse: 0.3.4
Slic3r PE: 1.41.2
Cameras: 3 x c930e & 1 x c920 (currently only one of those is configured in OL)

OctoPrint running on an x86 Ubuntu MATE v18... but this shouldn't have anything to do with it.

Now... I'll try to describe what's going on on my config.
When the cameras are connected and OL is ena

[2019-01-02 02:59] chilicoke commented on #284
Thank you very much FormerLurker.

I've tested it over the past day with my Pi 3B that I set up over a year ago and a new set up of 3B+ with a Canon 350D (RebelXT) and Sony Alpha A5000 with mixed results.

When I follow [your guide to Step 3](https://github.com/FormerLurker/Octolapse/wiki/DSLR-Image-Capture-With-No-Download) `/home/pi/scripts/initialize-camera-save-to-sd.sh`
, I get the follow err

[2019-01-02 14:15] FormerLurker commented on #267
@szafran81, I'm repeating and elaborating on this issue from the [OctoPrint discourse forums](https://discourse.octoprint.org/t/prusa-mmu-t-not-working-via-octoprint/4726/62?u=formerlurker) for anyone who is following along.

Tx is working for me just fine, and previously with MMU1.0 I was using T?.  I think the camera initialization may indeed be your issue. Octolapse will cancel your print by de

[2019-01-02 14:20] FormerLurker commented on #284
@chilicoke, you may have missed one step from that guide.  Increase your 'Snapshot Timeout' to say.. 10 seconds?  If it's usually working with only a 2 second timeout, that's pretty great for a DSLR!

Regarding the heat issue, I'd think about adding/replacing your heatsink.  Personally I've never had any temperature issues, though my Pi is outside of my enclosure,  The 3B+ should have two heatsink

[2019-01-02 15:17] szafran81 commented on #267
I've disabled that option. Will give it a try after my current printer finishes.
That still leaves the cold extrision and M108 problem - I've searched and can't find anything that will point me to what injects this unsupported gcode.

[2019-01-02 16:24] larsenv opened #296 "Incorrect Screenshot for Slic3r PE"
[The screenshot here](https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#perimeter-speed) is incorrect, it shows the retraction speed instead of the other speeds. I see the screenshot in the repo, but it should be fixed.

[2019-01-02 16:34] Zylvian commented on #171
@FormerLurker I too experienced this problem today, multiple times.

Happened on my Ender 3, first time using Octolapse. I got an error message about having to do G91 or G92, as well as a Octolapse message. The printer then started printing at 18 degrees. Problem stopped when I disabled Octolapse.

It's possible that Octolapse is overriding a few lines of code, as @bluemeane suggested.

[2019-01-02 16:41] FormerLurker commented on #171
@Zylvian, do you have 'test mode' enabled within the Octolapse settings (debug profile)?

[2019-01-02 21:36] chilicoke commented on #284
@FormerLurker, You're right, I just did another test and setting it to 10 seconds prevented the error. I was initially trying to minimize the amount of delay between each layer as much as possible. Now with 10 seconds time out I no longer see the error and it seems like the pause has increased by about 6 seconds. My guess is my camera receives the command to capture, then saves the image to memory

[2019-01-02 21:52] FormerLurker commented on #284
@chilicoke,

The timeout by itself should NOT increase the time it takes to capture an image, but would terminate the process early if it doesn't finish, which is what I believe is causing the extra delay when using the --capture-image flag.

So, the --capture-image flag waits until the image is saved to the SD, which would still probably save time over a USB transfer.  However, the --trigger-capt

[2019-01-02 22:13] FormerLurker commented on #284
@chilicoke,

You should be able to run the following command to test the capabilities of your camera:

[code]

Then try running this command to see what options are available for the capturetarget:
[code]

That should give us some idea of what we have to work with.  The [gphoto2 Remote controlling cameras](http://gphoto.org/doc/remote/) list seems to include your camera, and states that you should

[2019-01-03 06:04] chilicoke commented on #284
Canon Rebel XT:
[code]

Sony A5000 (PC remote mode):
[code]

Both of these camera seem to have noticeable different behavior with gphoto 2, I'll do a bit more testing. Meanwhile I'm also trying different combinations of delays and high quality mode.

[2019-01-03 08:36] ssttiijjnn opened #297 "Octolapse navbar button"
#### Version of Octolapse
Octolapse Version: Octolapse 0.3.4

#### Version of OctoPrint
OctoPrint Version: OctoPrint 1.3.10 running on OctoPi 0.15.1

#### When you ran into the problem, did you have diagnostic logging enabled?
Diagnostic Logging was Enabled: No

#### What were you doing when the problem occurred
OctoPrint was disabled, but still showing the NavBar button. I wanted to disable it. T

[2019-01-03 13:42] FormerLurker commented on #297
There are several options within the main settings (octoprint settings->Octolapse->main tab) to control the visibility of the navbar link.  Let me know if those settings work for you.

Thanks for your post!

[2019-01-03 14:09] ssttiijjnn commented on #297
I can't find any way to edit the navbar button there.

This is my octoprint settings window
![Main menu](https://user-images.githubusercontent.com/11312685/50641744-47143480-0f69-11e9-8719-1d8c35391ff2.png)

There is no way to enable or disable the navbar button, only a indication if it is enabled or disabled. After opening the settings I only see this
![Octoprint settings](https://user-images.git

[2019-01-03 14:31] FormerLurker commented on #297
Set your navbar options within the main settings like so:

![octolapsenavbarcontrols](https://user-images.githubusercontent.com/33363128/50642740-bf5f0380-0f31-11e9-92c0-f11ccbec2421.JPG)

This way the navbar will only show when Octolapse (and a print) is running.

[2019-01-03 14:37] ssttiijjnn commented on #297
Thanks, that's nice to have.

The issue was mainly focused towards not being able to change settings when the plugin is disabled. Like i said, it's just a minor inconvenience because you can enable it, change it and disable it. This just feels counter intuitive for me though. But if this is ment to be this way then i understand

[2019-01-03 14:39] FormerLurker commented on #297
I've already gotten requests to change the 'disabled' behavior, but haven't gotten around to it yet :)  The next release should have this fixed.  Originally there were issues where users didn't notice they had the plugin disabled, so i wanted to make it more obvious, but I should have just put a big 'disabled' message somewhere instead!

Again, thanks for submitting your issue, and let me know if

[2019-01-03 14:54] FormerLurker commented on #284
@chilicoke, not sure what version of gphoto2 you are running, so you might want to look into [this updater](https://github.com/gonzalo/gphoto2-updater).  OctoPi changes the behavior of git somewhat, so a slight change to the script may be required.  Check out [this issue](https://github.com/gonzalo/gphoto2-updater/issues/64) that I created on the gphoto2 github page, which explains how to change t

[2019-01-03 16:42] HerrRossi-cgn commented on #242
Hello FormerLuker
I have the problem that my Canon 550D goes into sleep mode as soon as the intervals between the photos are longer than 30sec.

Then I get the error message:
snapshot_script_error: The snapshot script failed with the following error message: *** Error: No camera found. **

how can I wake up the camera befor the photo will taken?
do I have to do that in the script or is there a com

[2019-01-03 16:42] HerrRossi-cgn commented on #273
Hello FormerLuker
I have the problem that my Canon 550D goes into sleep mode as soon as the intervals between the photos are longer than 30sec.

Then I get the error message:
snapshot_script_error: The snapshot script failed with the following error message: *** Error: No camera found. **

how can I wake up the camera befor the photo will taken?
do I have to do that in the script or is there a com

[2019-01-03 16:48] ryanneufeld commented on #273
@HerrRossi-cgn turn off the auto sleep on your camera, and use an AC power adapter

[2019-01-03 16:51] FormerLurker commented on #273
Hi @HerrRossi-cgn!  Check out page 139 of the 550d user manual for changing the auto sleep time.  There is no way for gphoto2 to communicate with a camera that is sleeping to my knowledge.  Let me know if that helps!

[2019-01-03 16:58] HerrRossi-cgn commented on #273
Thx @FormerLurker

 it works.

@ryanneufeld  the power supply is coming soon.

[2019-01-05 03:01] talldonkey commented on #295
Seems to be fixed!

Test Procedure:

Current (Release 0.1.2) version of Shutdown printer inactive/disabled:
OKay/Close button appears on the reset to default

Re-Enabled Shutdown printer 0.1.2:
Okay/Close button does not appear as expected (repro'd again for confirmation)

Updated to 1.0.1 Release:
OKay/Close button appears on the reset to default

[2019-01-05 03:47] talldonkey commented on #142
Parser for Gcode settings now seems to exist!
https://plugins.octoprint.org/plugins/SlicerSettingsParser/
Display for Parser:
https://plugins.octoprint.org/plugins/SlicerSettingsTab/

And it does parse speeds, from the brief check I did.

Setting | Value
-- | --
bridge_fan_speed | 100
bridge_speed | 60
deretract_speed | 0
external_perimeter_speed | 60
filament_cooling_final_speed | 3.4
filament_co

[2019-01-06 14:00] Phil1988 opened #298 "[Enhancement] nicer video start and end"
Thanks for this awesome plugin!
I dont want to say anything about the problems but asking for an enhancement that might interessed a lot of people who use it.

The videos itself looks amazing, however I dont like that you cant see the start so good and also the finish vision is mostly blocked by the printhead.
Is it possible to capture a few pictures during the start (I am using a start script to

[2019-01-07 08:54] keawepoo opened #299 "Camera Error - script failed"
Octolapse Version: Octolapse 0.3.4
OctoPrint Version: Version 1.3.10

#### When you ran into the problem, did you have diagnostic logging enabled?
Diagnostic Logging was Enabled: YES

#### What were you doing when the problem occurred
1. Selected the gcode file
2. Clicked on "Load and Print"
3. Waited to see what happens
4. Around 8% A red popup alert happens "Octolapse - Camera Error
snapshot_scr

[2019-01-07 14:23] devildant commented on #295
thx for you feedback i will close the issue on my side

[2019-01-08 00:35] FormerLurker commented on #299
Can you run this command:
[code]

Perhaps Gphoto2 isn't in the default location?  If whereis returns a different path, adjust the last line in your visudo file to match.

Note - If you received two notifications for this response, I apologize.  I accidentally sent an unresponse that missed all of the additional files you posted.  That response has been deleted.

[2019-01-08 00:42] FormerLurker commented on #298
@Phil1988,

First, thank you for your post!  It's great to get feedback, as well as feature requests.  However, I'm having trouble understanding some of the specifics.

When you say that, "you can't see the start so good", do you mean that the animation starts too abruptly?  If not, please give me a few more details here.

Second, when you say that, "your vision is mostly blocked by the printhead,

[2019-01-08 00:46] FormerLurker commented on #142
Oh my gosh, and I just finished creating this for simplify and slic3r!  Going to have to test this code for speed now.  If it's faster than my method, I'll be happy.  It's certainly simpler.

[2019-01-08 02:05] keawepoo commented on #299
![1](https://user-images.githubusercontent.com/15838981/50805339-03396c00-1296-11e9-8637-d84837eadb98.jpg)

[2019-01-08 04:12] Churro1741 opened #300 "OctoLapse - Position Error"
[Buddy.zip](https://github.com/FormerLurker/Octolapse/files/2735172/Buddy.zip)

#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: Octolapse 0.3.4

#### Version of OctoPrint

OctoPrint Version: OctoPrint 1.3.10 running on OctoPi 0.15.1

#### When you ran into the problem, did you have diagnostic logging enabled?

[2019-01-08 04:52] minw428 opened #301 "Can octolapse render with some missing image?"
Assume that there are some missed snapshot due to the problem of camera or communication.
Does the rendering process finish well in this case?

[2019-01-08 05:25] Zylvian opened #302 "Octolapse erases the warmup GCode"
Everything up to date 08.01.2019.

Whenever I try to run a print with Octolapse, the print will start without warming up the nozzle. One time I didn't realize this and it skipped for two minutes and grinded the filament before I could stop it. Has not had any change after multiple restarts of the OctoPi.

Slicer: Cura
Printer: Ender 3
RPi: 3B+

[2019-01-08 09:01] Phil1988 commented on #298
Thanks for your fast reply @FormerLurker !

For the beginning:
The video starts right at the layer zero with the printhead at its desired position.
This is good for fixed position with the printhead out of sight, but for the animated modes (orbit and printing) there could be a little more pre roll.

For the end: The printhead is at the right position. Octolapse does everything right here.
But for

[2019-01-08 14:50] FormerLurker commented on #299
Ok, gphoto 2 appears to be installed at /user/local/bin/gphoto2, so change the last line of visudo to this:
[code]
then reboot.  That should do it!  Let me know either way, thanks!

[2019-01-08 14:53] FormerLurker commented on #301
Yes it should.  There is a timeout setting within the camera profile.  If this timeout is reached, the snapshot acquisition stopps and the printing process will continue.  Once the print is completed Octolapse will combine whatever images were successful into the final timelapse movie.  Let me know if you have any additional questions!

[2019-01-08 14:54] FormerLurker commented on #302
You probably have 'Test Mode' enabled.  Look at the 'Debug' profile selection in the Octolapse tab (or in the OctoPrint Settings->Octoprint->Debug window).

Test mode is designed to make it fast and easy to test your Octolapse settings.  It prevents warmup, fan operations and extrusion (among a few other things).

Let me know if that helps!

[2019-01-08 14:57] FormerLurker commented on #298
That's an interesting idea, thanks for the description!  Let me think this over a bit.

[2019-01-08 22:01] keawepoo commented on #299
It works. I feel dumb for not seeing the /local/ part too... xD Thank you.

[2019-01-08 22:10] BotiB commented on #134
[camera_mount.zip](https://github.com/FormerLurker/Octolapse/files/2738587/camera_mount.zip)

This is a gcode that is without Z homing at the beginning. Have a corexy system with smoothieboard with s3d slicer and my start gcode is:
G90                            ;absolute positioning
G28 X Y                      ;Home X and Y axises
M375                          ;Load grid
G1 X150 Y150 F6000 ;Move

[2019-01-08 23:04] FormerLurker commented on #299
Excellent!  Don't feel bad, I missed it at first too!

Let me know if you have any other issues.  Closed!

[2019-01-08 23:04] #299 closed

[2019-01-08 23:14] FormerLurker commented on #134
@BotiB, thanks for your code, that will be helpful!

Can you explain how exactly the scratch occurs?  Looking at your gcode at these lines:
[code]
Does it scratch at the G1 command?  If so, I'm trying to figure out how your nozzle would be close to the bed at all there, unless it started at Z=0.

Also, I see what the G30 command does, but can you explain how it operates?

Thanks!

[2019-01-08 23:30] BotiB commented on #134
In this gcode obviously is not scratching as its not homing Z, but to be able to use octolaps I have to home before G1

[2019-01-08 23:39] BotiB commented on #134
@FormerLurker, the other wierd thing is that if I put my hand when homing Z at the beginning, so basically doesn't even touches the bed, it still works fibe after that.
So Z position is taken from somewhere else, as this comes like a fake home. It looks like that all he wants is to see a Z home in start gcode. I might be wrong tho

[2019-01-08 23:58] FormerLurker commented on #134
@BotiB, OK, I think I understand.  So when you home Z, THEN it scratches at the G1 X150 Y150.

First try to run this code manually one at a time via the octoprint terminal:
[code]

then try sending this command:
[code]
copy the printer's response out and send it to me.  Next run this (even if the previous command returned an error:
[code]
again, copy the response out for me.  If the M114 reported

[2019-01-09 00:50] FormerLurker commented on #134
@BotiB , I realize now that the above code will probably not work for you.  I've added a patch that you can install via the plugin manager using this URL:

https://github.com/FormerLurker/Octolapse/archive/devel.zip

After you've installed and rebooted change your start gcode to this:
[code]
Let me know if it works.

@Leprechaun91, you might also be interested in this.

[2019-01-09 00:53] FormerLurker commented on #302
@Zylvian,

This looks like a different problem.  Try editing your octolapse printer profile and set 'X/Y/Z Axis Mode' to 'Default To Absolute', save the changes, then try again.  Let me know if that fixes your problem!

[2019-01-09 19:30] BotiB commented on #134
@FormerLurker, so, I have half success. Octolapse does work, but...
I'm not sure how to explain, I experience this issues with the old Octolapse as well, but only with high detail organic models, that printhead moves kinda blocky/shaky, like he struggles. I put a picture where the left one is without, the right one is with octolapse enabled. On the skirt you can see the signs of the blocky movemen

[2019-01-09 21:20] FormerLurker commented on #134
@BotiB, what kind of pi are you using?  Stuttering is generally due to transmission problems, and Octolapse adds quite a bit of overhead.  I've not had any issues with My Pi2 or Pi3 B+.

What version of OctoPrint are you using?  The latest version will tell you if your cpu has been throttled due to undervoltage/overheating.  This is the most common issue I see.  Either that or trying to run Octola

[2019-01-09 21:32] BotiB commented on #134
@FormerLurker , in terminal I can see this a lot:
Send: N976 G1 Y133.364 X110.467*36
Recv: ok
Send: N977 G1 Y133.133 X110.195*45
Recv: ok
Recv: ok
Send: N978 G1 Y132.93 X109.897*27
Send: N979 G1 Y132.891 X109.824*40
Recv: ok
Send: N980 G1 Y127.964 X104.897*36
Recv: ok
Send: N981 G1 Y128.074 X104.621*33
Recv: ok
Send: N982 G1 Y128.136 X104.504*33
Recv: ok
Send: N983 G1 Y132.533 X108.9*46
Recv: ok

[2019-01-09 21:48] BotiB commented on #134
@FormerLurker by the way, why it adds octolapse overhead, is it not taking pictures only?
Can I disable some of the more CPU intensive aspects?

[2019-01-09 23:19] FormerLurker commented on #134
@BotiB, that's pretty unusual.  Can you try disabling all other plugins except for Octolapse?  Perhaps there is some kind of conflict going on.

I don't think there is anything you can disable really, but please send me a copy of your settings.json file (can be exported within OctoPrint settings->Octolapse.  There is a button to download), and I'll check it out.

What kind of printer are you using

[2019-01-09 23:36] BotiB commented on #134
![octoprint_plugins](https://user-images.githubusercontent.com/46501923/50936241-d5575180-1466-11e9-8834-4ca7a806c60a.JPG)
[Settings.zip](https://github.com/FormerLurker/Octolapse/files/2742997/Settings.zip)

Above the settings and list with my plugins.
I have a corexy style custom printer and using a smothie board with it.
Pi is using wifi internet connection and its connected to smoothie with a

[2019-01-10 00:08] FormerLurker commented on #134
Ill take a look.  In the meanwhile, try disabling print time genius.  If you have any logging turned on (including octolapse full diagnostic mode), turn that odd.  Ideally you would disable all non essential plugins and run another test.

[2019-01-10 22:14] FormerLurker commented on #134
I took a look at your settings and I see a few things you should change (not all of them are related to your problem).

1.  You might want to change your 'Printer Profile->E Axis Mode' setting to 'Default To Absolute' or 'Require Explicit M82/M83'.  I believe your printer defaults to absolute (if it's like the other enders).  I could be wrong here.
2.  Your 'Printer Profile->Snapshot Command' shou

[2019-01-12 18:39] FormerLurker commented on #134
@BotiB,  there is no doubt that Octolapse requires more CPU power than running without it.  I am planning to spend some time optimizing things and will test a few models with very high resolution (a high number of gcodes per mm).

I'm glad I can help!  I await a progress report :)

[2019-01-14 16:54] Bmarquez1997 commented on #234
Sorry for the late response, I ran into some hardware issues with my
raspberry pi and had to fix those first.  Switching to a different power
supply indeed fixed the issue, and I was able to install octolapse
successfully!  Thank you so much for your help!!

On Wed, Dec 26, 2018 at 5:17 PM Billd24 <notifications@github.com> wrote:

[2019-01-14 18:54] FormerLurker commented on #234
@Bmarquez1997 and @Billd24,

Excellent!  I will leave the issue open for a bit in case others have issues.  I may add a wiki article on the subject since there are lots of ppl with underpowered PSUs

[2019-01-15 01:14] viron1988 opened #303 "How Octolapse capture picture at correct position"
Hi,
I have a question and ask for kind help. I'm using the Gcode System Commands plugin to trigger a lighting on gcode when reaching a position. However I found out that the lighting gets triggered before reaching the position. So I found this: http://www.makermusings.com/2015/09/01/making-time-lapse-video-of-3d-prints/
where they use the following code:
G1 X66.533 Y100.927 E29.70731
G1 E28.70731

[2019-01-15 14:50] FormerLurker commented on #303
You can use the before and after snapshot script to trigger the lighting.  Just go to your Octolapse camera settings and add your script paths to the appropriate script fields.

Your scripts MUST be executable by the pi user, but if you're using gcode system commands that should already be true!  Let me know if you have any issues, and definitely let me know if it works!  Lighting is the reason I

[2019-01-16 03:20] chilicoke commented on #284
I went ahead and updated both versions of gphoto2 on both my Pi to the latest version to minimize variables, and are getting the same result.

Seems like it's hard to find the right balance between camera and desired performance. The Rebel XT appears to be too old to support certain functions, so I got my hands on a Sony A6000, which takes substantially better pictures and and supports `gphoto2 --

[2019-01-16 04:50] FormerLurker commented on #303
No, i try to wait the absolute minimum amount of time (no arbitrary waiting period required).  You can add a small delay for your camera to expose property, but maybe 0.25 sec or so (1/FPS*1000MS is ideal for a webcam).  I bypass the buffering issue to, as ill explain below.

First, when i decide it is time to take a snapshot i prevent octoprint from sending more gcode and send my own gcode to sta

[2019-01-16 04:51] FormerLurker commented on #303
Oh, i should mention that i made my first stabilized timelapse with the gcode system command plugin.  It inspired me to create octolapse :)

[2019-01-16 15:04] FormerLurker commented on #284
Hey, i had time to more closely examine your video.  Not sure what is up with the double retraction!?  I'll look into that once I receive your settings and gcode.  However, you can just turn off snapshots for inner and small perimeters (depends on the slicer) so that any blemishes occur on infill (in the layers pictured).  Check out the snapshot settings under feature detection and turn off inner

[2019-01-18 08:56] chilicoke commented on #284
Thanks again!, I re-read all your FAQ on each settings a little bit closer and realized that Octolapse is looking for the first extrusion gcode on the new layer to act as trigger? If so that completely explains why I'm seeing a little bit of extrusion before the nozzle move into position for snapshot. Maybe I just need to experiment with both Cura and Octolapse options a bit more.

Regarding my is

[2019-01-18 14:32] FormerLurker commented on #284
That is a dang good job you did there!  I've been meaning to try something like this for a long while, but never got around to it.  Mind if I snag your code and use it as an example in the wiki?

It would be pretty easy to create a .sh script to call your python script (you already have the only command you need above!)  The variables passed into the script aren't necessary, since you won't be cop

[2019-01-18 19:30] FormerLurker commented on #284
That means that subprocess.Popen is not returning a process, which means the command probably isn't working.  Can you run the .sh file manually?

Also, try adding this as the very first line:
[code]

[2019-01-18 19:33] FormerLurker commented on #284
OH..  Hold on.  So the snapshot acquire script setting in the camera = `echo "paswd removed" | sudo -S python /home/pi/scripts/external-camera-trigger.py`?

That won't work.  I execute the command with popen and forbid direct shell access.  Don't want hackers sending arbitrary commands to your instance :)

Put that code in a script file at /home/pi/scripts/external-camera-trigger.sh, then set your

[2019-01-18 20:41] chilicoke commented on #284
Awesome! that worked! no errors either!

Doing a preliminary test print right now and so far the performance seems impressive. I've added a .75 second delay after shutter release which gives a total of 1 second "pose time" from initial shutter trigger to allow longer exposure if needed, and the total amount of "capture time" is impressively low, I believe I can probably lower the post shutter dela

[2019-01-18 20:52] FormerLurker commented on #284
That looks great!  Really nice, seriously.

You can probably turn the snapshot delay (camera settings) down to 0 since that happens before the script is executed.  Also, more light = shorter exposures, so that might speed things up a bit too.

What you achieved is similar to what my camera does using the -trigger-capture flag.  You should write a guide up!  Would be great for people with cameras t

[2019-01-19 00:35] chilicoke commented on #284
Thanks again for all your help, [the result turned out great](https://www.youtube.com/watch?v=rV9C8Dxbg_4). I already had delay setting on 0 before, and I've further reduced after shutter wait down to 0.2 second and it is [working even better](https://www.youtube.com/watch?v=4WfhcycAchA)!

I'm really liking trigger via GPIO, as it should be camera agnostic and could easily be expanded to trigger m

[2019-01-19 05:35] david-mikulin opened #304 "Error message about retraction and detraction even though they are different"
#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: OCTOLAPSE_VERSION_GOES_HERE

#### Version of OctoPrint

OctoPrint Version: Octolapse 0.3.4

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: NO

#### What were you doing when the problem occurred

1. Se

[2019-01-19 16:33] FormerLurker commented on #304
I saw this last night but it was too late to respond.  I really thought you found a bug, and in a way you did.  Octolapse should round these values as you type.  The good news is I'm currently working on enhancing and automating the slicer section of the printer profile, so it's a good time to tackle this.  I'll let you know when I have it corrected.  Also, I'm adding automatic slicer settings ext

[2019-01-19 22:21] lawdog1425 opened #305 "Octolapse hangs on "Taking Snapshot""
#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: 0.3.4

#### Version of OctoPrint

OctoPrint Version:1.3.10

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: NO

#### What were you doing when the problem occurred

1. Installed Octolapse and configured

[2019-01-19 23:18] david-mikulin commented on #304
Hi,

Sure, I will help test the dev build once you have it ready.

Cheers,
David

[2019-01-19 23:30] lawdog1425 commented on #305
I forgot to mention I am using a PiCam V2 for my camera

[2019-01-20 21:38] cmeister2 opened #306 "[Request] After finishing "Animated - Printing" run, have print head move to a final location for Post-Roll"
#### If this is a feature request describe it here

For the "Animated - Printing" stabilization, this oscillates around the X axis with a fixed Y axis. This is great and gives a cool effect, but causes the print head to show up in the final post-roll, which can ruin shots with shadow, e.g. https://www.youtube.com/watch?v=rX_bg4b8J5I

It'd be nice if there was an option to, once the print was compl

[2019-01-21 15:12] FormerLurker commented on #306
I've considered this before, and believe this can be done.  The only way I can think to make it work reliably involves analyzing the entire gcode file ahead of time.  Fortunately I'm working on pre-processing gcode files right now for other reasons (settings extraction).  I'll keep this in mind and see if I can come up with some reasonable way to implement at least something similar.

Thanks for y

[2019-01-21 15:15] FormerLurker commented on #305
Can you download your settings.json file (octolapse settings within the OctoPrint settings screen, there is a download button there) and your gcode file?  I just helped someone get an ender 3 (not pro) working, so perhaps it is settings and not firmware related.  Speaking of which, do you have stock firmware?

Also, in the meanwhile you might want to disable all other plugins and reboot.  Then try

[2019-01-21 15:22] FormerLurker commented on #302
@Zylvian, did my last suggestion help at all?

[2019-01-21 15:23] FormerLurker commented on #303
I'm going to mark this as closed.  If you have any other issues/questions I can easily reopen it.

For now:  Closed!

Thanks for your submissions!

[2019-01-21 15:23] #303 closed

[2019-01-21 15:23] FormerLurker commented on #301
I'm going to close this issue.  If you have any additional questions I can easily reopen it.   Thanks for your post!

Closed!

[2019-01-21 15:23] #301 closed

[2019-01-21 15:25] FormerLurker commented on #300
@Churro1741, I am so sorry but I missed this post somehow :(  I'll run your code through the debugger a bit later today and will get back to you.  Thank you so much for providing (I think) everything I need to debug the problem!

[2019-01-21 15:33] FormerLurker commented on #288
Hey, I've been lazy about closing out old issues, and since I know Printoid is working with Octolapse (thanks for the copy!), I believe this issue is closed.

Super job with the interface, by the way.  Your app is super slick, and you managed to make your Octolapse integration look like Octolapse :)  Bonus points!

Closed!

[2019-01-21 15:33] #288 closed

[2019-01-21 15:33] FormerLurker commented on #290
Hey, I'm pretty sure we got this working, so I'm going to close this issue now.  I've been lazy about closing things out recently :)

Closed!

[2019-01-21 15:36] FormerLurker commented on #297
@ssttiijjnn, I wanted to let you know that I am adding this feature to the next release (Navbar disabled when Octolapse is disabled).  The current behavior seems very silly now that you pointed this out to me.  Thanks again for your request!

[2019-01-21 15:40] FormerLurker commented on #296
@larsenv, thanks for letting me know.  I should have fixed it immediately, but I was a bit under the weather at the time.  This has been taken care of.

Closed!

[2019-01-21 15:40] #296 closed

[2019-01-21 17:55] AnthonyStephan commented on #288
Hello!

Thank you for your great plugin, you've done the huge part of this amazing job :)
There is a lot of Printoid users that are using the Octolapse integration in the app, your plugin looks very popular :) good job.

All my best,
Anthony

[2019-01-21 19:42] gotTech18 opened #307 "Monoprice Mini Delta Profile [Request]"
#### If this is a feature request describe it here

I would like a profile for the Monoprice Mini Delta because I have seen the cool timelapses made with OctoLapse and I would like to make some cool timelapses also. I know this is possible because this Reddit user got it to work, and I don't know how.

#### Version of Octolapse

Octolapse Version: 0.3.4

#### Version of OctoPrint

OctoPrint Versio

[2019-01-21 19:43] gotTech18 commented on #307
Here is the [here is a link](https://www.reddit.com/r/mpminidelta/comments/abbvee/i_got_octolapse_sort_of_working/) to the Reddit post.

[2019-01-21 20:41] FormerLurker commented on #305
Great!  If you are willing, it would be great if you could turn the plugins back on one at a time and see which one is causing conflicts.  I could then try to figure out what is breaking and how to fix it.

[2019-01-21 20:58] lawdog1425 commented on #305
Ok I found it.  It is the Grbl support 1.0.2 plugin.  I was trying to use octoprint on a laser engraver.  It never worked but I never removed the plugin and when I re-enabled my plugins after making octolapse work I didn’t re-enable it because I don’t use it.   So when I re-enabled it bingo problem reappeared.

From: FormerLurker <notifications@github.com>
Sent: Monday, January 21, 2019 3:42 PM
To

[2019-01-21 21:07] FormerLurker commented on #305
I figured out the issue.  M400 and M114 are being replaced by the plugin, which will kill Octolapse.  I might be able to work around the M400 issue, but M114 is critical.  Also, it looks like those replacements are pretty important for the Grbl plugin, so there may be no solution :(  I may install it and see if I can find a workaround.

Anyway, thanks for hunting that down for me!

[2019-01-21 21:21] lawdog1425 commented on #305
Great, glad you figured it out.  Like I said I don’t use it so don’t try to fix it on my account.

From: FormerLurker <notifications@github.com>
Sent: Monday, January 21, 2019 4:08 PM
To: FormerLurker/Octolapse <Octolapse@noreply.github.com>
Cc: lawdog1425 <lawandorder@comcast.net>; Author <author@noreply.github.com>
Subject: Re: [FormerLurker/Octolapse] Octolapse hangs on "Taking Snapshot" (#305)

[2019-01-21 22:57] FormerLurker commented on #300
Ok, it looks like your printer volume is incorrect.  Change your y-max to 300.  That will probably solve your issue.

I'm not 100% sure exactly what your volume is, btw, I just guessed based on the advertised volume, but it's not too hard to discover if you are willing to run a few gcodes (and probably skip your steppers just a bit).  You can manually send few commands through the terminal in Octo

[2019-01-22 02:11] foxabilo opened #308 "exposure auto priority"
In answer to your request for further information regarding this feature of some webcams.

According to the UVC spec,

"The Auto-Exposure Priority Control is used to specify constraints on the Exposure Time Control when the Auto-Exposure Mode Control is set to Auto Mode or Shutter Priority Mode. A value of zero indicates that the frame rate must remain constant. A value of 1 indicates that the fra

[2019-01-22 23:32] cmeister2 commented on #306
In case anyone else has this problem I worked around it with the following solution:

1. In Slic3r, I added custom G-code to the "After layer change" section of my printer - the M240 code is for taking snapshots.

[code]

2. I added the M240 to the end G-code:
[code]

3. I configured Octolapse to detect "M240" as the snapshot code, and then selected "Gcode" as the snapshot profile.

This gives you

[2019-01-24 02:36] gabimal opened #309 "[Request] Using GoPro for timelapse"
I was wondering if it is possible to use a GoPro for timelapse. It would be interesting to control the GoPro via WiFi, some discussions here:  https://www.raspberrypi.org/forums/viewtopic.php?t=83530
Thank you!

[2019-01-24 11:53] gege2b commented on #286
I have a similar issue (but with a bit less delay - about 1sec)
I'm using Octoprint 1.3.10 and Octolapse 0.3.4

Here is a snippet of the full diag log when a snapshot is triggered :
[code]

As you can see, there is almost 2sec on this snapshot between the "A snapshot is triggering" and the "Snapshot Download Job completed, signaling task queue."

I'm not using any stabilization settings, I just wa

[2019-01-24 14:51] FormerLurker commented on #286
Can you post a video of what is happening?  From the log, the point at which Octolapse takes over is actually:
[code]

The prior two commands that are sent, M400 and M114 (with m400 being sent at 2019-01-24 12:42:56,491), are executed probably while your printer is still clearing its internal buffer.  The buffer is guaranteed to be clear once Octolapse receives a position response (this is how it

[2019-01-24 14:58] FormerLurker commented on #286
@gege2b, FYI, the 265MS download time is pretty high.  It took 46 MS to actually save the JPG to disk, so the rest of the time must have been generating a thumbnail and/or transposing the snapshot.  Do you have any transposition options set in your camera settings?  I've never actually measured how long this takes, but it looks like something in the image processing is taking about 200MS, which is

[2019-01-24 17:38] gege2b commented on #286
Hi @FormerLurker , no problem I will post a video tomorow, it's pretty hard to measure how long it pauses, but  I think it's more than 0.3s actually

Just to clarify some things : I'm actually NOT using any stabilization or fancy animation (they're great BTW but I just want a bare timelapse)

The only thing I do is using a trigger gcode, so I expect the snapshot routine to just do a snapshot (and

[2019-01-25 08:09] gege2b commented on #286
Here is a little [video ](https://www.youtube.com/watch?v=M1JQxMRn9IY)of the problem
As you can see, it freeze on the upper-left side of the heart being printed (that's where my processing script insert the trigger word for gcode trigger)

the pause seems shorter than on my yesterday's print but it's still here

[2019-01-25 09:23] pandel opened #310 "Octoprint printer profile override not working"
Hi!

I am trying to use the current Octolapse version with my delta printer, but am having issues with printbed recognition.

Everytime I start a print job, Octolapse is telling me errors about not having found the printbed origin, blabla... AND those messages appear for every move command (it would be nice, if one could disable those nasty popups coming up every half of a second)!

My printbed is

[2019-01-25 13:46] notoriousbad opened #311 "[Request]"
Language/Translation issue.

Under "Extruder Retraction Settings", the wording is probably wrong: "Detraction settings". It should be Deretraction settings". "Detraction" has a whole different meaning with even negative connotation.

Screenshot OctoLapse printer settings:
![image](https://user-images.githubusercontent.com/46992779/51749471-bcc67880-20af-11e9-9782-488a9785d652.png)

Screenshot Slic

[2019-01-25 15:03] FormerLurker commented on #310
What does the error message say exactly?  Pause the print to prevent new errors from popping up while you are copying the message.

[2019-01-25 15:14] pandel commented on #310
I will find out, perhaps this evening....

[2019-01-25 15:46] FormerLurker commented on #311
Lol, I cant claim any language barrier issue here.  I actually noticed this while working on some enhancements (settings extraction from gcode).  That mistake was copy/pasted everywhere, so ill make sure it is fixed for the next release.  Thanks for pointing it out so clearly!

[2019-01-25 15:49] FormerLurker commented on #310
Thanks!  Im suspecting a conflict between octoprint and octolapse here.  I haven't finished support for circular beds yet, so a minor hack may be necessary until full support is added, hopefully to the next release.

[2019-01-25 19:11] FormerLurker commented on #286
So, I've been enhancing the snapshot process, and the following improvements have been added:

1.  The snapshot routine now ends as soon as the snapshot is downloaded or acquired.
2.  Added threads to do all of the image post processing.
3.  Once the post processing is finished, the threads send a 'new thumbnail available' message to the client, which then downloads the latest thumbnail.
4.  Repla

[2019-01-25 22:15] FormerLurker commented on #286
Well, my (limited) testing has shown great success.  I wasn't even sure it was capturing images while looking at the printer, until I checked the octolapse tab.  So it now takes me around 80MS to acquire an image, but the post processing, done in the background, took 213MS, which means it takes about 25% of the time it had been to acquire a snapshot.

I had zlift and retract enabled, so I'll turn

[2019-01-25 23:12] gege2b commented on #286
great !! I will try this on monday, my printer is at my office at the moment
I'm using Slic3r and it already embed all settings in the gcode file

[2019-01-26 15:19] FormerLurker commented on #286
@gege2b, I was able to get the delay down to around 80ms total, including image acquisition with zlift and retract turned off :)  I got rid of all of those 'null' commands, which was pretty tough, but had a surprising impact on time, though I'm not exactly sure why.

I'm glad this process was optimized.  I'm working on some new stabilization that will benefit greatly from this enhancement.

[2019-01-27 07:03] alopicaso opened #312 "Position Error - inverted axis"
#### Version of Octolapse

Octolapse Version: Octolapse 0.3.4

#### Version of OctoPrint

OctoPrint Version: Version 1.3.10

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: yes

#### What were you doing when the problem occurred

1. Change printer min volume
2. use g90/91 and m82/83
3. look into firmware and find out that my printer xyz

[2019-01-27 11:04] roguecode commented on #247
I'm getting this on version 0.3.4 with OctoPrint 1.3.10.
It seems to be possible to bump it into working by starting a print then turning Octolapse off with the little power button. As you do that Octolapse tells you it'll turn off after the print, and it starts working.

[2019-01-27 13:47] roguecode commented on #247
Yeah, could just be a UI thing. I'll test it out later and let you know (just have to wait for this 10 print).
Would you mind clarifying what you mean about the printer stabilizing?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: FormerLurker <notifications@github.com>
Sent: Sunday, January 27, 2019 3:24:11 PM
To: FormerLurker/Octolapse
Cc: roguecode; Mentio

[2019-01-27 13:52] FormerLurker commented on #247
@roguecode, Thanks!  What I mean by stabilization is that your printer moves to the correct spot for a snapshot.  It depends on your 'stabilization profile' in Octolapse exactly where this is.  If you set the stabilization to the back left or back right it will be hard to miss :)

FYI, I'm debugging the UI issue now.  If you confirm that the problem is related perhaps you'd be willing to try out t

[2019-01-27 18:11] FormerLurker commented on #207
@Boymeetsmill, I may have found the issue causing your extrusion problem!  I believe that G90/G91 on your printer may override the E axis mode in addition to the XYZ.  I was handling this properly (according to the printer profile settings) inside of the position tracking, but did not take it into account when generating the snapshot gcode!  I may have this fixed now, but I need a tester.  I don't

[2019-01-27 19:55] alopicaso commented on #312
This is my gcode
https://gist.github.com/alopicaso/fa4ec80a3d15faea3350a600674f8d18
Im using sailfish firmware 7.7 and my setting is something like this https://www.photobox.co.uk/my/photo/full?photo_id=501617197021
When I use m114 in octoprint to detect the current position, it shows xyz in negative value like x-100,y-100,z-145
I am not really sure if the invert axis setting causing this negative

[2019-01-28 09:16] roguecode commented on #247
Ah, ok, didn't know that was the term.

OK, confirmed that this is definitely a UI bug. Also, simply refreshing the page shows the right stuff.
Yup, of course would be happy to test. This is happening 100% of the time for me currently so will be easy to tell if it works.

[2019-01-28 14:42] pandel commented on #310
I am very sorry! As always, when you're trying get things done, things get messed up... I am trying to post an example message as soon as possible!

[2019-01-28 18:25] gotTech18 commented on #307
Anyone there?

[2019-01-28 23:37] FormerLurker commented on #247
Ok, great!  I've not gotten to the bottom of it yet.  I will hopefully have time this weekend though.  Pester me if you don't hear back :)

[2019-01-28 23:42] FormerLurker commented on #207
@Boymeetsmill Use this link in the plugin manager to install:  https://github.com/FormerLurker/Octolapse/archive/new_settings.zip

Warning - Download a copy of your settings.json file through the Octolapse settings page first.  I'm not 100% sure if the settings migration will work 100% (but have been testing it a lot), and you might want to roll back to v0.3.4 when you're done testing.  If you wan

[2019-01-28 23:45] FormerLurker commented on #312
That photobox link didn't work.  You can just download your settings from OctoPrint Settings->Octolapse.  There is a download button in there.  That will help!

Also, I looked at your gcode, and it doesn't seem unusual at all.  It must just be the position reporting!  I wonder why that is the case.  I may send you a list of gcode commands to run for testing after I get settings.json depending on w

[2019-01-29 00:46] alopicaso commented on #312
Sorry this is the picture I was referring to, hope it helps. I will upload the Octolapse setting as well when I get home tonight. Thanks
![14818700955_70094cb22c_b](https://user-images.githubusercontent.com/44854512/51875977-e257ba00-231b-11e9-95de-c41edfc39a6b.jpg)

[2019-01-29 01:36] gotTech18 commented on #307
So, I did what you said and I started a print. I got this (look at
attachment) on Octoprint and it crashed the Web UI, so I had to reload.

On Mon, Jan 28, 2019 at 1:28 PM FormerLurker <notifications@github.com>
wrote:

--
Thanks,
Nicholas

[2019-01-29 13:32] FormerLurker commented on #307
Hmm, that error explosion isn't supposed to happen in 0.3.4.  I thought I rate limited those messages to 1 per second, which give the previous error time to close.  I guess that's not the case.

Anyway, it looks like your print volume is off.  Can you export and post your settings.json file please?  You can find it within OctoPrint Settings (wrench/spanner icon)->Octolapse.  There is a button on e

[2019-01-29 13:43] FormerLurker commented on #312
I see.  Thanks!  However, what I really need is your printer profile settings from Octolapse.  Look in OctoPrint settings (wrench/spanner icon)->Octolapse.  There is a download button in there for settings.json.  If you can post that for me that would be great!

I'm looking to see if I can get a virtual printer to simulate the behavior of your printer.  If so I should be able to get it working pre

[2019-01-29 13:46] gotTech18 commented on #307
[Here is the link to the .json file (I had to do it through Google Drive)](https://drive.google.com/file/d/1iWfVDqzSamMpsIs6PmIhXSP_e4C6R74H/view?usp=sharing)

[Here is a link to a sliced file. (Also in Google Drive)](https://drive.google.com/file/d/1H5R8VlTMnJGjgKWcHy0OKlUd0skYSs_f/view?usp=sharing)

[2019-01-29 14:06] FormerLurker commented on #307
Your Y - Depth is off in your printer volume in the Octolapse printer profile.  Your Y axis is set from -55.0 to -55.0, so it has no depth at all.  I thought I had a validation in the UI for this!  I'll take a look.  Anyway, it is easy to fix.

Change your Y Depth in your Octolapse printer profile to the following:
Y Depth Min = -60
Y Depth Max = 60

That means your Y axis is 120mm, starting at y=

[2019-01-29 17:58] alopicaso commented on #312
My setting.json Thanks!
https://gist.github.com/alopicaso/2a02a9f70dde7e6cc41ef3e95f31bbea

[2019-01-29 18:23] FormerLurker commented on #312
It looks like your Min and Max values for your print volume are the same, which means your bed has no volume at all as far as Octolapse is Concerned.  For Example if MinX=-100 and MaxX = 100, your bed is 200mm wide, and '''G1 X=-100.0''' would bring you to one extent and '''G1 X=100`` would bring it to the opposite extent.

What you need to find is the minimum and maximum X, Y, and Z coordinates t

[2019-01-29 22:06] gotTech18 commented on #307
Oh! How did I overlooked that? I will give that a try and let you know from
there.

On Tue, Jan 29, 2019, 8:06 AM FormerLurker <notifications@github.com wrote:

[2019-01-29 23:13] gotTech18 commented on #307
Yes! It's working! Thanks!

On Tue, Jan 29, 2019 at 4:06 PM Nicholas Schroeder <nickbthesaint@gmail.com>
wrote:

--
Thanks,
Nicholas

[2019-01-30 02:17] alopicaso commented on #312
Yes, it makes perfect sense. I will try to mess with the min and max value when I get home. I will let you know. Thanks

[2019-01-30 18:22] alopicaso commented on #312
This is my **Home** position using jog mode to find it Home: X:0.04 Y:0.03 Z:-150.03 E:0.00
This is my **Max** position using jog mode to find it Recv: ok X:-230.00 Y:-150.00 Z:28.32 E:0.00
I tried to change the print volume in octolapse and it still give me position error because before the print start X and Y axis tried to move out of the print area and smashed the printer.
I think I have to mat

[2019-01-31 03:59] benomoreno3 opened #313 "Octolapse causing prints to pause mid print."
[plugin_octolapse.log](https://github.com/FormerLurker/Octolapse/files/2815642/plugin_octolapse.log)
[octoprint.log](https://github.com/FormerLurker/Octolapse/files/2815643/octoprint.log)

#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: 0.3.4

#### Version of OctoPrint

OctoPrint Version: 1.3.10

#### When you

[2019-02-01 12:56] pandel commented on #310
Finally from the log file:

`2019-1-31 22:10:59,104 Position - Coordinates (X:-101.36300,Y:-23.27200,Z:0.30000,E:4.50500) are out of printer area! Cannot resume position tracking until the axis is homed, or until absolute coordinates are received.`

These are my current profile settings (G90 and M82 are definitely the first two lines of GCODE in the file I get from Simplify3D):
_{
      "small_per

[2019-02-01 16:07] gege2b commented on #286
I'm trying a print right now (I know we are not monday anymore, got a flu problem in between :D )
As long as I can tell, the delay is simply gone...
At least it's so small that I can't even notice when the screenshot is taken (to be honest, I had to check the snapshot number in octolapse's panel to confirm it was working)

I will post a picture of the same object with and without this fix so you c

[2019-02-01 21:40] FormerLurker commented on #271
I believe Octoprint knows about the temps when printing from SD because it polls for the information via M115, but I'd have to double check.  It's also possible that the printer just streams it back from the printer.  The problem in using this method for Octolapse is that it requires to know every gcode that has executed in order to track the printer's position, to move to and from the snapshot lo

[2019-02-01 21:45] FormerLurker commented on #286
Woot!  Also, glad you are recovering from the flu.  I just got over two colds in a row.  Was sick for over a month.  Was around too many small children over the holiday :)

I'm really glad I got to the bottom of the delay.  Now all snapshots will be substantially faster for everybody.  There really is no downside.  Also, an ultra low delay will be necessary for the next feature I'm working on: qua

[2019-02-01 22:48] gege2b commented on #286
winter is coming, they said

Can't wait to test this stabilization mode. My printer is pretty prone to oozing (it's a legacy prusa mendel and I still need to adapt an extruder fan since... well, about 6 years) that's why I don't want to move the extruder if not necessary

I did not try automatic slicer settings today because I didn't have a lot if time, but I will do next week for sure

[2019-02-03 09:46] obviator commented on #271
I had assumed it would have to involve editing the GCODE on the SD card somehow. Without having given it much thought I had assumed I could do some regular expression search/replace in a text editor to identify the layer changes and add code for the snapshots.

The challenge then is to cue Octolapse to take the shot which is why I was spitballing about what info is available via Octoprint. If Octo

[2019-02-03 18:22] KageKeeper opened #314 "Unable to enable Custom Image Preferences"
#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: Octolapse 0.3.4

#### Version of OctoPrint

OctoPrint Version: Octolapse 0.3.4 OctoPrint 1.3.10 running on OctoPi 0.15.1

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: YES

#### What were you doing w

[2019-02-04 02:57] FormerLurker commented on #314
Have you looked at [this wiki article](https://github.com/FormerLurker/Octolapse/wiki/Camera-Profiles#custom-image-preferences) on the subject?  Pay close attention to the necessary changes to boot/octopi.txt, which you can find [here](https://github.com/FormerLurker/Octolapse/wiki/Troubleshooting#why-cant-i-change-contrast-zoom-focus-etc).

If you've tried that I'll dig a bit deeper :)

[2019-02-04 02:59] FormerLurker commented on #234
So glad @junglerhino37!  Underpowered PSUs are the root of many an issue, or so I've learned.  This was a tough one for me to track down, and I wouldn't have been able to find it without all of the feedback here.

[2019-02-04 03:08] FormerLurker commented on #310
@pandel, I actually have the settings extraction direct from gcode for Simplify, Slic3rPE and Cura working already :)  It will be a bit before it's ready because there were some really extensive modifications.  If you feel like beta testing at some point let me know and I'll send you a link once I've got all of the kinks worked out.

I'm not sure what is going on here, I'm sorry to say.  Can you p

[2019-02-04 03:10] KageKeeper commented on #314
Yes. I have followed that article, and my octopi.txt file has been edited as per the troubleshooting guide.

I can view the stream from my cam, but when I attempt to enable and apply preferences before print I get the error I listed. :)

[2019-02-04 12:56] pandel commented on #310
Hi!

No problem ;-) As I am still learning to use my delta, I will have many more chances to try to get a good timelapse video. In the meantime I'll be printing the boring parts ;-) Here is my settings file:

[settings.json.txt](https://github.com/FormerLurker/Octolapse/files/2828032/settings.json.txt)

[2019-02-04 14:46] kyoungin90 opened #315 "DSLR Image Capture With No Download problem"
Version of Octolapse
0.3.4rc1.dev3

Version of OctoPrint
1.3.10

First, Thank you for your excellent program, octolapse.

I used Octolapse with DSLR very well.

Now, I'm trying to use 'DSLR Image Capture With No Download' function.

Therefore, I followed guide exactly same way.

When I finished my work, my camera took a picture.
However, the picture was not saved on my camera SDcard and pi.

When

[2019-02-04 14:55] FormerLurker commented on #315
Hey, sorry that guide isn't 100% finished yet.  That 'TODO' was for me :)

Can you post your output from trying to run this in the command prompt:

[code]

and also:

[code]

If I have some time today I'll update that guide to reflect actual output from those commands.

[2019-02-04 16:35] kyoungin90 commented on #315
Wow! what was changed in your script?!
It was working very well :)

My camera was Canon 100D.
Thank you for your effort!

[2019-02-04 16:46] FormerLurker commented on #315
You said that it 'WAS' working very well.  Do you mean that images are now being saved to your camera?  I'm hoping your problem is solved :)

[2019-02-04 16:58] kyoungin90 opened #316 "[Request] octolapse camera moving function?!"
Hello!

I really pleasantly use octolapse these days.

And I want some other function when I am making timelapse with DSLR.

My suggestion is that if I added one stepper and made DSLR roller which can make DSLR move horizontally little by little.
Then I control a stepper with octolapse, I will make more cool timelapse.

![default](https://user-images.githubusercontent.com/13043878/52223665-7829b10

[2019-02-04 17:09] FormerLurker commented on #316
Are you planning to control this via gcode, or some other way?  If you are planning to use gcode, check out the camera profile settings and look at the camera type 'Gcode Camera'.  With this you can send gcode before any snapshots are taken.

If you plan to use a script to control this, it will depend on how exactly you have your hardware configured.  If you let me know a bit more about your setup

[2019-02-04 17:34] kyoungin90 commented on #315
I changed now was to is :)
Thank you!

[2019-02-04 19:31] KageKeeper commented on #314
Interestingly, when I attempt to view the mjpegstreamer page, where yours says 'Camera 1', mine says 'null'. No other settings are on the page (which I would expect with a null)...

So that begs the question...wtf...I can still access my PiCam, stream it, get stills. etc.

I did create a new camera profile, as you suggested, but, as I expected, I experienced the same issue.

Seeing as how I have n

[2019-02-05 13:16] michaelmart77 opened #317 "button to take picture"
I'm new to octoprint. I found this plugin nice. I'm asking for a feature. I'm trying to have a button to take a picture (execute shell script) not only while printing but also anytime I want? Is it hard?

[2019-02-05 14:38] michaelmart77 commented on #317
Thank you. not webcam. it's a usb cam. it captures a picture by executing a python or shell script. I just want to let it take a picture (execute the script) when clicking the button (probably in octolapse). The purpose is that I want to test the pictures manually before starting. The picture is saved somewhere.

[2019-02-05 18:35] FormerLurker commented on #314
Hmm.. maybe you cannot control a pi camera via mjpegstreamer.  I need to look into that.

I believe there are ways of controlling it from the command prompt.  If so, Octolapse supports a 'Camera Init' script that runs before every print.  It wouldn't be too hard to create a bash script to change the settings and run it before your prints.  I don't think the picam has zoom built in (it's manual, ri

[2019-02-05 18:44] yet-another-average-joe commented on #309
Yes you can !

I'm just experimenting with. At the moment I take snapshots on the GoPro SD card. It works over WiFi. The GoPro applications make video conversion, color corrections, cropping, ProTune corrections, and so on really easy, so asking the author for the post is pointless (IMHO...)

I'm using GoPro-Py-Pi library. There are functions to dowload stills to the RasPi, but is it usefull ? I d

[2019-02-05 18:57] FormerLurker commented on #309
That's great!  Most of the solutions I have seen involve hacking the camera and voiding the warranty.  I didn't really want to go this route if possible.

Yes I am interested in getting some more info!  Can you post your python, .sh scripts, and Octolapse camera profile settings?  I can probably find the library myself :)  If I get it working I'll post a tutorial.

Then all I need is a gopro.  For

[2019-02-05 18:58] yet-another-average-joe opened #318 "[REQUEST]"
Hello,
and thanks for OctoLapse.

I've been experimeting with OctoLapse. DSLR and GoPro (using GoPro-Py-Pi with a WiFi connected Hero3+BE).

I take stills with the GoPro through 2 scripts : a bash calling a Python script. Works fine. Really easy, It took me 24H to succeed (Linux noob)

But timelapses and therefore scripts are deactivated if there is no declared camera. I see at least 2 reasons to

[2019-02-05 19:02] FormerLurker commented on #318
Hmm, if you're using Octolapse to acquire the image via a script, it should work.  You need a camera profile in order to do this, right?  I've got examples of scripts that allow you to shoot with a DSLR and not download any images to the pi, or to wait to download until all of the images are acquired before rendering, or you can disable rendering if you don't want a timelapse to be produced automa

[2019-02-05 21:05] KageKeeper commented on #314
No worries. I will look into getting a good webcam. Any suggestions? :)

[2019-02-05 21:11] yet-another-average-joe commented on #318
I just set the default webcam as camera profile, and use a script to shoot with the GoPro. Then, the rendered timelapse is not used. Until now, it's been with a virtual printer and a RasPi alone. But I tested with a Nikon D5100 on a real printer. Everything seems to run smoothly. The only issue is the GoPro Camera object : it has to be created for each and evry pic, it takes time and I had to set

[2019-02-05 21:12] yet-another-average-joe commented on #318
Bad click, I closed !

[2019-02-05 22:36] dan-riley opened #319 "[Request] Snapshots without movement"
#### If this is a feature request describe it here

As far as I can tell, there's no option to do this.  I like the Animated timelapse, but with an unrestricted X, so the printhead randomly moves around, but the Y axis stays stabilized.  However, this causes the printhead to have to move for the snapshots, both slowing down the print, and creating some artifacts.  Is it possible to opportunistical

[2019-02-05 22:43] FormerLurker commented on #314
I like my Logitech 920.  They can be found on sale all the time and have good 1080p quality.  Don't get me wrong, they're not the best out there, but for the price they are very close!  I'm 100% sure this camera is controllable via control.htm, and it has lots of capabilities including auto/manual focus, zoom (done via software by blowing the image up), pan and tilt (software, not motorized.  Done

[2019-02-05 22:55] FormerLurker commented on #309
Well, it seems to me the best way to go about this would be to write a plugin that transforms the GoPro into a streaming server/still snapshot provider.  That way the extra library can be used elsewhere and won't interfere with Octolapse installation if something goes wrong with the package.  It would be trivial to add a hook to allow other plugins to communicate with  it, and to add an api call t

[2019-02-05 23:38] FormerLurker commented on #319
So you'll be pleased to know that you can actually already turn off stabilization for either X or Y!  Just edit your stabilization profile and set one axis to 'disabled' like so:
![image](https://user-images.githubusercontent.com/33363128/52310818-502e6200-296a-11e9-96c6-14d4ac8f35f9.png)

That should solve that issue.  Regarding the time added to prints, it can be very small (less than 1 second p

[2019-02-05 23:44] FormerLurker commented on #317
Hmm.. I have a workaround for you for the time being:  Create a new camera profile, mark it as 'disabled' so it won't interfere with your timelapses.  Then set the 'Camera Initialization Script' path to your sh script for grabbing your pictures.  There is a 'test' button next to that script for various reasons (it was the easiest one to do) which simply executes the script it's pointed at.  Be sur

[2019-02-05 23:50] yet-another-average-joe commented on #309
I did some googling about persistance and serialization, and found shelves and pickles. But it is beyond my understanding (I'm familiar with this only under Windows with MFC, and I don't see how it could avoid initiating a communication everytime a program is called and therefore the object recreated !). I will ask the GoPro-py-api author.

Or some synchronisation : knowing the delay between the s

[2019-02-06 00:02] FormerLurker commented on #309
My instinct is to look into communicating with the process via stdin (just like you would in windows).  I'll look into this while waiting for my tests to complete next time I run one.  I don't think it will be too difficult, but I could be wrong, lol!

[2019-02-06 00:34] FormerLurker commented on #309
[This looks interesting](http://www.roman10.net/2011/04/21/named-pipe-in-linux-with-a-python-example/)

[2019-02-06 00:48] yet-another-average-joe commented on #309
Oh yes !
I'm an absolute beginner. In order to test comms, 2 consoles might be opened, with a script in each one ?

[2019-02-06 01:04] FormerLurker commented on #309
I believe that is the idea.  Or you could launch the script via ```sh script_name.sh`` where that script executes the python.  That should launch the script in the background I believe, then you should be able to communicate in the same console.  At least I think, lol!

[2019-02-06 01:33] yet-another-average-joe commented on #309
I'll try to learn about this tomorrow. Time to sleep. Less than 5 hours left... Good night !

[2019-02-06 22:11] gege2b commented on #286
I just realized that your "quasi stabilized" new feature is exactly what I did with "my" post processing script ! ( #109  )
can't wait to test this native implementation !

[2019-02-06 22:27] FormerLurker commented on #286
It took me a while to get around to it, but better late than never!  I had to spent a lot of time reducing parsing time to make this feasible and reasonable.  Had to do a lot of it in C++, but i got it down from around 200 seconds to under 30 for a 38mb sample gcode.

Once the foundation is set it will be pretty easy to add new ones.  I have several ideas :)

[2019-02-07 16:22] yet-another-average-joe opened #320 "[REQUEST] Test Script button for all 5 scripts"
Hello,

a "Test Script" button for each and every camera script line would be great ! There's only one, for Before Print Start Script. Therefore, testing scripts from within OctoLapse need lots of copy/paste and right clicks !

[2019-02-07 17:12] yet-another-average-joe commented on #309
Hello FormerLurker,

I experimented with named pipes as suggested. And succeded... but only in command line mode. The scripts work this way.

1st Python script instanciates a GoPro object, a FIFO file (on disk, I will see later for a memfile...). It also runs a message loop. It processes 2 messages : "take photo' and "terminate". It starts with the creation of the FIFO file using mkfifo(), then op

[2019-02-07 17:15] FormerLurker commented on #320
Yes, I want to get those features implemented for sure!  It's just an effort thing at this point.  I just need to figure out the best way to indicate success and to show the results (especially in the case of the snapshot acquire script) without further complicating the scripts.  I have some ideas and will mark categorize this request.

[2019-02-07 17:18] yet-another-average-joe commented on #320
Until now, the button is great : it returns the error of the invoqued script (at least my errors ;) !

[2019-02-07 17:22] FormerLurker commented on #309
Your English is great :)

Post your scripts and I'll play with them.  I found someone willing to let me borrow their Hero 3+ black so we'll be on the same page! Once I have acquired it I should be in business for testing.

If I am able to create a plugin for this that would eliminate the instantiation time, but I'd like to get your scripts version done as a proof of concept before too much effort

[2019-02-07 17:23] FormerLurker commented on #309
By the way, I'm curious what your native language is if you don't mind telling.

[2019-02-07 17:29] yet-another-average-joe commented on #309
This very naive code ! There's no error processing !

All files are 'z' prefixed, doing so, they are easy to find (I do all testing with VNC and Pixel)

zGoPro.py :

[code]

zShoot.py

...
#!/usr/local/bin/Python3.6

import pickle
import os

# send shoot messages to the gopro process

#wfPath = "./Shoot_2_GoPro"
MsgQueue_path = "/home/pi/gopro-py-api/zMsgQueue"

MsgQueue = open(MsgQueue_path, 'w')

[2019-02-08 06:42] DrMarkyMarc opened #321 "can't install octolapse"
#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: 1.3.9+

#### Version of OctoPrint

OctoPrint Version: 1.3.10

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: YES

#### What were you doing when the problem occurred

1. Try to install octolapse
2. via

[2019-02-08 06:58] FormerLurker commented on #321
It took me like 30 sec to scroll through that to reply, lol!  Maybe post a link next time instead?

So when you said you tried installing pillow, what happened?  Did you install it into the octoprint virtual environment?  If so, what errors did you receive?

So ive seen issues with pillow before, and the solution is usually either upgrading pip like this:

source home/pi/oprint/bin/activate

Then

[2019-02-08 16:34] yet-another-average-joe commented on #309
Some success...
I get shoots from a script fired by OctoLapse.
Octolapse can delete the GoPro object living in another process.
But I can't figure how to tell OctoLapse to instanciate  GoPro object. But everything's fine if I do it from a console. The 1st problem was solved adding sudo and piping the passwd (safety nazis will have an heart attack, I don't care...)

The bash scripts : (I changed so

[2019-02-08 18:29] FormerLurker commented on #309
I bet it's something subtle.  Learning a new language or using new tools almost always causes me to lose some hair :)  Does your init script exit when you run it, or does it just run forever?  It's possible that Octolapse kills all of the subprocesses (it does some cleanup to make sure other long running scripts terminate if they time out) even if the script finishes (though I don't think it shoul

[2019-02-08 18:29] FormerLurker commented on #309
Oh, and I'll take a look at your scripts tomorrow to see if there's something I can fix even without the hardware.

[2019-02-08 18:47] yet-another-average-joe commented on #309
No, I can't get the script to return to cmd line in console, and the problem is there. OctoLapse is stuck until I kill the GoPro objet from a console (it then returns OK, test validated or something like that). I tried combinations of nohup and &, and whatever I do the result is always the same : Octolapse is stuck by an infinite loop from the "GoPro ctor script". It's not a problem with OctoLapse

[2019-02-08 18:53] FormerLurker commented on #309
It is much appreciated!  It sounds like you are making progress.  In my experience it always takes a little longer than you expect to make things like this work, especially when you think you're very close ;)

[2019-02-09 17:33] yet-another-average-joe commented on #309
It seems I forgot to click "Comment" yesterday !

I found the problem for the 1st script not returning to command line. See here https://stackoverflow.com/questions/28281467/running-bash-script-does-not-return-to-terminal-when-using-ampersand-to-run

redirecting to null does nothing. I removed the print calls in my 1st python script : nothing. I even replaced all the print calls in gopro-pi api wi

[2019-02-11 01:37] yet-another-average-joe commented on #309
Here's 2 scripts and a few commands that will make Python 3.6 DL/compilation and gopro-py-api installation fast and easy,
This as been tested about 10 times and should not cause problems.

Video : https://www.youtube.com/watch?v=TML8L3RmN60&feature=youtu.be
This 1st video is only about installation, had no time to shoot timelapses. Coming soon.

1 - Python 3.6 download/compilation/installation - t

[2019-02-12 05:44] DrMarkyMarc commented on #321
**well i got this from what you ask me to do**
Requirement already up-to-date: pip in /home/pi/.local/lib/python2.7/site-packag                         es (19.0.2)

**if i try to install it via console**  ended up with this
`Could not import OctoPrint's setuptools, are you sure you are running that under the same python installation that OctoPrint is installed under?`
`Command python setup.py egg_

[2019-02-12 15:37] FormerLurker commented on #321
Can you post your console output where you try to install Pillow via the command line, including the lines where you activate the virtual environment?

However, the error you are seeing trying to install pillow is probably related to your power supply.  Double (triple) check that your PSU is powerful enough to run your pi.  This causes all kinds of insane issues.  Octoprint has a feature to detect

[2019-02-14 15:43] yet-another-average-joe commented on #309
The second video, with OctoLapse configuration and the 2 tiny scripts.

https://youtu.be/GLyWBZpqbUg  (the result is at the very end)

1 - python script

command lines :

[code]

script gopro_take_photo.py :

[code]

test command :

`python3.6 gopro_take_photo.py
`

2 - bash script :

commands :

[code]

script :

[code]

test command :

`./gopro_take_photo.sh`

3 - command to be written in "Befor

[2019-02-17 03:14] dosel79 commented on #112
I was also having only taking first layer snapshot
Going to printer setting and matching the profile did the job
Thank you so much always

[2019-02-18 16:12] MineThingIssues opened #322 "Not always taking photo with external DSLR and not giving any information about the error"
#### Version of Octolapse

Octolapse Version:0.3.4

#### Version of OctoPrint

OctoPrint Version: 1.3.10

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: Yes

#### What were you doing when the problem occurred

1. Configure Octolapse with External DSLR w/script
2. Connect printer and Canon 1300D camera to USB Hub that connects to the on

[2019-02-18 16:47] FormerLurker commented on #322
There's a lot going on here.  First question:  have you gotten Octolapse to work without the DSLR?  If not, this is definitely step one since adding the DSLR only increases the amount of things that can go wrong.

Then the next thing to figure out is why you can't download your settings.json file.  There is no good reason for this, as the file is never locked except while writing new settings.  Th

[2019-02-18 18:21] MineThingIssues commented on #322
Thanks for the quick reply :D As for the Pi and the USB hub, the Pi only has 2 USB ports, one of which is taken by a wifi USB dongle, the Pi doesn't have inbuilt wifi. On the Pi itself, it only says Pi1 so It may not even be a B (sorry for the mixup of information, I was told that it was a B but now I am unsure). As I am trying to print something now (and it has taken 5 hours so far so I don't wan

[2019-02-18 18:42] MineThingIssues commented on #322
After cancelling the 6-hour print, and restarting the server, I have managed to download the settings.json
https://gist.github.com/MineThingIssues/878aa870ad3e71465e43553973548dac

[2019-02-18 19:51] MineThingIssues commented on #322
Even with the timeout at 15 seconds, the picture is not taken (Although the camera screen goes black like it does when it takes a picture but for a shorter time) and it carries on straight away as if it has though it thinks that it has taken and downloaded the image or the camera wasn't there at all. Quality has been reduced to the lowest (8MP)

[2019-02-18 20:03] FormerLurker commented on #322
Oh no!  I hope you didn't have to cancel because of Octolapse.  There is a 'stop timelapse' button that will stop Octolapse without cancelling the print if you have problems with it in the future.

Now, getting to your error.  I'd bet that your camera is timing out for several reasons:

1.  Raspberry Pi1s aren't recommended for use with Octoprint and a streaming webcam.  Even Pi0, has substantiall

[2019-02-18 20:12] FormerLurker commented on #322
I saw in your your recent post that you already increased the timeout.  leave it there while testing.  You could go into bash and execute the 'take-snapshot' script over and over to see if it stalls or locks up.  I would try both with a few minutes delay between calls, and some rapid fire requests.

Also, could your camera be going to sleep?  Anyway if you can get either of the 'trigger capture' s

[2019-02-18 20:40] MineThingIssues commented on #322
Thanks for the reply! I have read through the Deferred image download and near the end at step 5
![image](https://user-images.githubusercontent.com/47724587/52975417-5afee300-33bd-11e9-9a55-78b75c86b328.png)
should it be "Before render script"? Just checking because I know that the instructions are not finished and there are bound to be mistakes

[2019-02-18 21:16] FormerLurker commented on #322
You are correct, nice catch!  I will update that doc straightaway.

[2019-02-18 21:25] FormerLurker commented on #322
The guide is now fixed, any other feedback you have would be appreciated!

[2019-02-18 22:06] MineThingIssues commented on #322
Thanks for updating it :D I was wondering (step 4) if there are any parameters I should be aware of? I will not be trying it until tomorrow so you don't have to bother fixing it right away if there is
![image](https://user-images.githubusercontent.com/47724587/52978481-68ba6580-33c9-11e9-8b7b-9a4b8e87c61d.png)

[2019-02-19 01:53] MetalTurtle18 opened #323 "Strange Printer Behavior When Starting Print With Octolapse On"
#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse

Octolapse Version: Octolapse_0.3.4

#### Version of OctoPrint

OctoPrint Version: Octoprint_1.3.10

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: NO

#### What were you doing when the problem occurred

1. Started Print

[2019-02-19 12:01] MineThingIssues commented on #322
Raspberry Pi just failed to boot. I will reflash the SD card and install everything again and get back to you when I have everything sorted. If the Pi has died, Another one is on the way tomorrow (The Pi 3 B+) and I will get that one up and running as soon as possible

[2019-02-19 15:15] FormerLurker commented on #323
That behavior is expected in the current version of Octolapse for various reasons.  It's possible to prevent in the current version (albeit a bit tricky) by priming with a slightly thicker line than you are printing at and setting the 'priming height' to that value.  I think the MK3 primes at 0.25mm by default?

However, the next version has some new features to eliminate such behavior, including

[2019-02-19 15:20] MetalTurtle18 commented on #323
That answered my question. Thank you. Do you have any estimate of when it could be fixed?

[2019-02-19 15:41] FormerLurker commented on #323
It will me a month or two.  This next release includes some major rewrites and new features, so it will take a while to get it all tested and ready for release.  I'm adding gcode preprocessing, automatic slicer settings extraction from gcode files for Slic3r PE, Simplify 3d and Cura, new stabilizations and more.  Stay tuned :)

[2019-02-19 15:42] MetalTurtle18 commented on #323
Ok. That helped me out. Thank you.

[2019-02-19 15:42] #323 closed

[2019-02-19 16:04] MineThingIssues commented on #322
finally back to where I started lol

[2019-02-19 16:16] FormerLurker commented on #322
Hmm, one of my comments never appeared.  I thought I replied to this:

Yes, there are parameters!  I won't have time today to figure them out, but just skip that for now.  I recommend doing a very short print to test instead (feel free to use test mode as well to save time).  I like [this thinwall test](https://www.thingiverse.com/download:17273).  It's actually one of the most difficult things fo

[2019-02-19 16:34] MineThingIssues commented on #322
Thanks, I will give that a go when I get time. my print settings in general are not very good at the moment so it will be interesting to see how well it prints anyway

[2019-02-19 19:16] AnduriI opened #324 "Octolapse stops/pauses print after some layers"
#### If this is a feature request describe it here

FEATURE_REQUEST_DESCRIPTION_GOES_HERE

#### Version of Octolapse
Octolapse Version: 0.3.4

#### Version of OctoPrint
OctoPrint Version: 1.3.10

#### When you ran into the problem, did you have diagnostic logging enabled?
Diagnostic Logging was Enabled: YES

#### What were you doing when the problem occurred
I tried to print different models with

[2019-02-19 19:45] FormerLurker commented on #324
I'll see if I can reproduce the issue, but first, can I ask if you have the 'Display real snapshot time' option enabled in the Main Settings (OctoPrint Settings [wrench/spanner icon]->Octolapse->Main Tab in Octolapse Settings->Edit Main Settings->Display real snapshot time)?  If so, try turning that off and see if the freezes go away.

I've learned that some printers don't like to have lots of M40

[2019-02-19 19:49] FormerLurker commented on #324
One more thing, can you disable the 'Detail Progress Plugin' also when you run your next test?  It's probably not causing any issues, but it is sending gcodes while Octolapse is taking snapshots, so better safe than sorry.  Also, if by chance that plugin is involved, I'd like to take a look at the code and see if I can discover/work around the issue.

Thanks again!

[2019-02-19 19:57] AnduriI commented on #324
well I did a little test print just before your second answer arrived, here the results:
I turned off the snapshot time and issued a print (20 layers, 6min). The nozzle was parked without return on layer 8, just as before. Sending a M114 made it continue for same layers, I had to issue this 3 or 4 times on this print.
Now I will try with Detail Progress disabled.

As a side note: I also see the pr

[2019-02-19 20:00] FormerLurker commented on #324
Hmm.  If it fails again, can you disable all other plugins and try again?  Octolapse shouldn't affect the progress bar at all.  Sounds like a conflict that i need to know about

[2019-02-19 20:04] AnduriI commented on #324
completed print with detailed progress disabled... that's a solution for me. In case you need to test future hotfixes just drop a message, I would be glad to help

[2019-02-19 20:07] FormerLurker commented on #324
Great, I appreciate that!  I'll take a look at that plugin and see what's going on.  Honestly it's probably not an 'issue' with either plugin, just a conflict since both read and modify gcode.  There is probably a workaround though, and I'll find it if possible.

I might close this issue and add a new one called something like 'incompatible with detailed progress plugin' if I discover a workaround

[2019-02-19 20:19] FormerLurker commented on #324
FYI, I believe I've found the issue.  Not sure why the detailed progress plugin is involved, but it probably has something to do with multithreading in OctoPrint.  Octolapse looks for M114 responses, which usually look something like this:
X:149.90 Y:109.90 Z:2.00 E:0.00 Count X:11992 Y:8792 Z:741

However, when your print stopped I see this in the log:
line:X:149.84 Y:109.89 Z:2.00: 0.00 Count X:

[2019-02-20 16:22] MineThingIssues commented on #322
I am currently 21 hours into a print and It will be about 15 hours more to finish but when I do I will set up the Pi 3 B+ and try out the deferred image download and tell you how it goes. Thanks for helping out with my issues!

[2019-02-20 16:27] FormerLurker commented on #322
Sounds great, and it's my pleasure.  I think you'll be blown away by the Pi3 compared to the Pi1!  I'm considering trying the new Pi3A.  The latest OctoPi has full support.

[2019-02-20 20:33] MineThingIssues commented on #322
I think that one of the main reasons it is printing so slowly at 60mm/s 0.15mm layer height is that the Pi1 just can't handle it lol. I just installed octopi on the Pi3 B+ and wow it is fast. I noticed the heat (by accidentally slightly burning myself on the CPU) and I hope that I don't have to buy a heat sink for it to stop it from melting lol. It must just be that extra power. Just installing it

[2019-02-20 20:35] FormerLurker commented on #322
Definitely get a heatsink (3 for pi3), and print a case first thing, lest your new hardware be rendered useless :)

[2019-02-20 20:39] MineThingIssues commented on #322
Pi 3 A and A+ looks like a good option. quite similar performance to the B and B+ but more affordable (Although I need the extra functionality of the Pi 3 B+ for some other projects I will be working on soon)

[2019-02-20 20:45] MineThingIssues commented on #322
I will buy some heatsinks asap lol

[2019-02-21 00:23] DrMarkyMarc commented on #321
i'm powering my rpi via my 3d printer board via gpio pin I will look how much power it give but I do not see a not enouff power logo in octoprint

[2019-02-21 00:29] FormerLurker commented on #321
Can you post all console output for when you are trying to install pillow via the command line please, include everything after you sign in.  Thanks!

[2019-02-21 17:52] yet-another-average-joe commented on #322
Hello,
I had a similar problem. Same error message, but I could hear the DSLR (Nikon D5100) shooting pictures. Then, the printer stopped after 2 hours. I restarted from ground, and again, it stopped, but after 8 hours (12 hours print). Unfortunately, I was on a hurry, and did'nt pay attention to the terminal : I just disabled timelapses, as I needed the prototype for further development...
I also

[2019-02-21 18:01] FormerLurker commented on #322
@yet-another-average-joe, I've gotten reports about touch-ui, and there appears to be some kind of conflict.  Also one of the progress plugins (can't remember which one).  Try disabling ALL plugins and try with only Octolapse.  If the issues go away it's likely a conflict.  If I can figure out which plugin is causing the problem maybe I can figure out why and fix it.

Also turn off 'display real s

[2019-02-21 18:19] MineThingIssues commented on #322
ordered some heatsinks and done some research. The Pi 3 B+ should have good enough cooling for a print that is only a few hours but after a longer time it can overheat without a heat sink or cooling fan. Printing something now with it and I am impressed! thanks for convincing me to upgrade. It can print about 5 times faster now. I will try octolapse after this print and tell you if I have the issu

[2019-02-21 18:29] FormerLurker commented on #322
@MineThingIssues, that is a GREAT looking video!  The only thing I can see you might want to work on is your exposure.  It looks like it might be on auto?  If you turn auto exposure off you need to make sure your light levels don't change, which is a bummer, but it's better than the flickering.  I think (but am not sure) that I can spot some LED flicker too (I have this problem big time with my st

[2019-02-21 18:34] yet-another-average-joe commented on #322
@FormerLurker

OK for TouchUI, I will disable it.
About thermal throtling : I had to put heatsinks as soon as I installed TouchUI ! It will be a pain : I'm a TouchUI fanboy (standalone and wth VNC)...

The plugins I use :

- Action Command Prompt
- Bed Visualizer (I did'nt even remember it was here...)
- Custom Control editor
- Fan Speed Control (it's just a button in config.yaml)
- Firmware Updat

[2019-02-21 18:38] FormerLurker commented on #322
This has known issues with OctoPrint in general (at least a recent version did).  It's a REALLY cool plugin, but might need a bit of performance work since a lot of stuff is happening in the OnGcodeQueueing hook, which is also where Octolapse does the majority of its work.  Definitely disable that one for testing + touch UI.  I don't think any of the others should cause problems.

Also, I don't me

[2019-02-21 19:09] yet-another-average-joe commented on #322
Oh, I forgot to say : the webcam is a USB cam. I imagine it's some more work for the CPU.

[2019-02-21 19:10] FormerLurker commented on #322
You could run top or htop to see what's going on with your CPU.  The mjpegstreamer process should be obvious.

[2019-02-21 22:51] MineThingIssues commented on #322
I just ran /home/pi/scripts/initialize-camera-erase-all-images.sh for the step 4 (ik you said to skip it but i wanted to test it anyway) and it showed this error:
![image](https://user-images.githubusercontent.com/47724587/53207184-f5b02980-362a-11e9-8d57-18bcb2264962.png).
did I miss something?

[2019-02-21 23:19] FormerLurker commented on #322
Was your DSLR plugged in and turned on?  Also, depending on the model of your camera, this might not work :(  Look [here](http://gphoto.org/proj/libgphoto2/support.php) for info about your camera's capabilities.  The 'Configure' capability must exist.  Let em know what you find.

[2019-02-21 23:27] MineThingIssues commented on #322
Thanks for the feedback on the video! Yea I forgot to put it on manual and the lighting was by a standard LED torch (or flashlight in the USA) powered via USB. It was not a controlled experiment. There was some weird artifacting on the side of the model but that could be down to bad filament or bad slicer settings. I might make an enclosure using a cardboard box and use a different light source bu

[2019-02-21 23:31] MineThingIssues commented on #322
I will try it with my other DSLR which also has "Configuration" listed but that only has a 1GB CF card so I don't know if it would be suitable

[2019-02-22 00:20] FormerLurker commented on #322
If I were you I'd experiment with the gphoto2 command and see if I could recreate on the command line what that script is supposed to do.

1gb may not be enough depending on how many pics you shoot and what resolution.

[2019-02-22 00:27] MineThingIssues commented on #322
I will attempt to recreate it on the command line and will tell you how it goes

[2019-02-22 00:29] MineThingIssues commented on #322
Well... I just had to run it as sudo. It is now deleting all 3000 images (probably) I have on my camera so it is taking a while to show anything (I think). I will tell you if it works

[2019-02-22 18:33] yet-another-average-joe opened #325 "[REQUEST] Keep images on the DSLR"
Hi !

I'm currently playing with Octolapse and gphoto2. At first, something is very disturbing : pics are not written (or are deleted) to (from) the SD card (maybe the pics are jut taken from the buffer and not even written).

So, I played with gphoto2 CLI options.

I see at least one easy enhacement for OctoLapse : "keep" JPG on the SD card. Just a check box somewhere in the options.

In take-sna

[2019-02-22 18:46] FormerLurker commented on #325
I'll consider this.  I'm also considering just integrating gphoto2 itself.  Once the current round of enhancement to Octolapse is complete I plan on overhauling the camera setup, so that might be a good time to look into one or the other.  Here are some things that are planned:

1.  Create a much enhanced webcam settings page that lets you preview live stream and adjust settings on the fly.
2.  Cr

[2019-02-22 18:52] FormerLurker commented on #325
Oh, btw, I'm assuming you've seen [this wiki page](https://github.com/FormerLurker/Octolapse/wiki/DSLR-Image-Capture-With-No-Download), but since you were disturbed to learn that images weren't on the SD perhaps not?  [This guide for deferred download](https://github.com/FormerLurker/Octolapse/wiki/DSLR-with-Deferred-Image-Download) might also interest you.  You'll need to play with the CLI a bit

[2019-02-22 21:22] MineThingIssues commented on #322
Ok, it didn't work. It came back with an error that was similar to the error I was getting before I was running it with sudo before the script path. putting sudo in the "before print start script" came back with another error.
![image](https://user-images.githubusercontent.com/47724587/53271876-a1b74a80-36e7-11e9-967d-a886bd35bf07.png)
![image](https://user-images.githubusercontent.com/47724587/53

[2019-02-22 21:34] MineThingIssues commented on #322
It works when I do it directly through SSH though:
![image](https://user-images.githubusercontent.com/47724587/53272595-a2e97700-36e9-11e9-8e20-f25397f173b0.png)

[2019-02-22 21:40] MineThingIssues commented on #322
also tried adding "pi ALL = (root) NOPASSWD: /home/pi/scripts/initialize-camera-erase-all-images.sh" to the end of the file that opens when you do "sudo visudo" and saving and restarting with no luck

[2019-02-22 23:27] FormerLurker commented on #322
So, the Octolapse settings will only accept a path, not any bash commands, and that's for security.

Adding sudo to the front of your script shouldn't matter, but it obviously does.  What happens when you run the gphoto2 command within that script manually?  Does it prompt you for a password?

[2019-02-22 23:43] yet-another-average-joe commented on #325
Oh thanks ! I was sure I read something about this, but I thought it was some trick you gave as an answer to a feature request. Spent half an hour searching. Now the link is on the desktop ! These pages are not accessible from Configuring an External Camera (DSLR), or I missed something...

About set-config capturetarget, yes : I found on a forum that it is persistent from a snapshot to another.

[2019-02-23 00:19] FormerLurker commented on #325
I've been helping several people with DSLRs over the last couple days, and the issues are starting to bleed together, lol!  That script is still beta (you'll notice that there are unfinished sections).  If you have any suggestions or comments for any of those (or the download script), please let me know!

[2019-02-23 03:09] yet-another-average-joe commented on #325
There's something I don't understand in "DSLR Image Capture With No Download". I see a potential issue with a script.

First of all, I had a hard time before I undertood how to get the parameters for gphoto2 commands ! As soon as I understood, I did :

`gphoto2 --get-config capturetarget`

and got only 2 options : 0 : internal and 1 memory card

In initialize-camera-save-to-sd.sh, you wrote :

[co

[2019-02-23 03:42] FormerLurker commented on #325
The problem is the correct option depends on your model.  I have a D5200, and that option works for me.  This is the main reason these guides are still beta, and you're not the only person to have issues with the script relating to the capturetarget parameter.  When I have some time I'll add the steps I used to determine which target to use.  There are ways of querying the options available for (s

[2019-02-23 03:46] yet-another-average-joe commented on #325
I had no issue at all ! It works fine. I think it is because the hardware is made for 2 SD cards. I'm curoius : what does "gphoto2 --get-config capturetarget" return on your D5200 ? (if you have time)

[2019-02-23 04:00] FormerLurker commented on #325
Hmm.. I must have worked on this late at night because this is the output:
[code]
I would have sworn it wasn't working unless I set it to 2, lol!  Anyway, I stumbled on this variant to set the capture target.

'''gphoto2 --set-config-value /main/settings/capturetarget="Memory card"'''
and
'''gphoto2 --set-config-value /main/settings/capturetarget="Internal RAM"'''

Does this work for you?  That se

[2019-02-23 09:11] yet-another-average-joe commented on #325
Don't know where you live, but where I live, you answered at 4H AM. On my side, slept 4 hours, and back ! Could'nt sleep until I understand how to use set config value Today, I will probably  put my hands on a D7000 (2SD cards) and see what the value 2 does, and what get config value returns.

Thre's something that makes the code you just wrote above not 100% usable : it depends on localization.

[2019-02-23 13:05] MineThingIssues commented on #322
Sorry, could you clarify what you mean? I am a little confused

[2019-02-23 13:34] MineThingIssues commented on #322
It does not prompt me for a password when I do gphoto2 commands as sudo manually. I will try putting sudo in front of the commands in the script and see if that works.

[2019-02-23 13:37] MineThingIssues commented on #322
And it worked... Is this only an issue for me or is this potentially something you might want to add to the instructions? This is the working script:
![image](https://user-images.githubusercontent.com/47724587/53287156-1b931680-3770-11e9-940d-f6ceaffe68b3.png)

[2019-02-23 13:45] FormerLurker commented on #325
Localizations strike again, of course!  I wonder if the camera is localizing the return values or gphoto2.  If it's gphoto2, I bet there's a way to set the localization too.  Either that or I could localize my guide.  Do you know any good translators :)  I really need to add localization to Ocotlapse as well, but it's a daunting task.  Eventually I'll get around to it, hopefully before the 1.0 rel

[2019-02-23 13:46] MineThingIssues commented on #322
did the same for the other scripts for every gphoto2 command and will test it now with a test print

[2019-02-23 13:53] FormerLurker commented on #322
Excellent!  I'm not sure why my gphoto2 is different than yours, but I don't need sudo to run those commands.  It seems that I only need sudo for the download command, but that could have something to do with the installation method I used, which was a custom installation script.  I need to do a from-scratch flash of OctoPi and start this process from the beginning to see if I have the same issues

[2019-02-23 14:01] yet-another-average-joe commented on #325
It's easy to see. ASAP I will flash a non localized version of OctoPi, and I'll keep the DSLR on english settings (it was sold on french market, so who knows...). I bet it's localized in gphoto, as the developper  lives in Montreal, Quebec, Canada... Finally, I will not be able to test with a D7000 (dual SD) until a couple of weeks.  :(

I just went back to GoPro scripts, and I will be attempting

[2019-02-23 14:02] MineThingIssues commented on #322
oh yeah sorry, I just woke up when I read the messages. that makes complete sense and the last message does too now that I have read it again sorry. I installed gphoto2 through a different method because the older version of gphoto2 installed through "sudo apt-get gphoto2" did not support my more recent camera. I checked on GitHub for the latest gphoto2 and libgphoto2 versions and did a manual ins

[2019-02-23 14:13] MineThingIssues commented on #322
I say that I can solve the first one easily but apparently, I am not the only one having the issue with the same camera and the same raspberry pi lol: https://github.com/gphoto/gphoto2/issues/150. I will do some more testing and see if I can solve the first issue. And it is taking some pictures so I would expect at least a few photos to be in the DSLR camera profile unless something else went wron

[2019-02-23 14:58] MineThingIssues commented on #322
increasing time between snapshots did not do anything so I added "gphoto2 --reset" to the end of the trigger capture script and it stopped the error and the snapshot count went up BUT it still only actually took a picture every other attempt... weird...

[2019-02-23 15:27] MineThingIssues commented on #322
![image](https://user-images.githubusercontent.com/47724587/53288269-6582f900-377e-11e9-9ecb-6404244b22ee.png)
https://photos.app.goo.gl/EcPRPKvjeoVTsWhT8

[2019-02-23 15:43] MineThingIssues commented on #322
Ok, something has gone wrong somewhere... In fact, the regular octolapse with the DSLR isn't even working properly any more.
![image](https://user-images.githubusercontent.com/47724587/53288582-bc3e0200-3781-11e9-90f4-0a343aa4963d.png)

[2019-02-23 15:50] MineThingIssues commented on #322
If you saw a message (Now deleted) that I sent just ignore it I made a stupid mistake lol

[2019-02-23 16:07] yet-another-average-joe commented on #309
Some progress...

I experimented with these 2 gopro-py-api functions :

take_photo()
downloadLastMedia()

take_photo() takes a photo, and returns the file name on the GoPro, this way :

`http://10.5.5.9:8080/videos/DCIM/108GOPRO/GOPR0136.JPG`

downloadLastMedia(filename) takes this file name as argument and downloads the file to the current directory. The file is named like so :

`108GOPRO-GOPR013

[2019-02-23 18:42] diegotheslinger commented on #284
Chilicoke, you ever end up doing a write up or is this process still working out for you?  I also have the A6000 and an older Canon Rebel and am trying to figure out the best way to trigger it through Octolapse.

[2019-02-23 19:31] MineThingIssues commented on #322
I should probably ask this after the issue is resolved but is there an easy way to add a delay between when the camera is triggered and when the printer resumes? When the camera does take an image, the shutter speed is quite long and so the printer resumes before the image is fully taken (Resulting in consistent but slightly annoying motion blur... Not that I can actually see the images in the fir

[2019-02-23 19:49] MineThingIssues commented on #322
Could the issue potentially be due to this?:
![image](https://user-images.githubusercontent.com/47724587/53290926-05527e00-37a3-11e9-9dda-561b3011487b.png)
someone else mentioned something about it. Maybe that is why the downloading part doesn't work and potentially the camera gets confused (If I interact with it after it takes a picture it crashes). I am not a developer and know basically nothing

[2019-02-24 00:26] FormerLurker commented on #309
PROGRESS!!!  I still haven't gotten the gopro.  The person who will be lending it to me decided to take it on a ski trip, so it will be after they return.  Not sure exactly when that is unfortunately.

I'm looking forward to seeing the final script!  If you need any help parsing let me know.  I am currently working on a C based gcode parser/position tracker.

[2019-02-24 00:30] yet-another-average-joe commented on #309
Done !

I have something that could work... but gives timeouts with timeout set to 25000ms !!!! Th GoPro is set to 5Mpx images (2560x1920, 2.5 MB)

2 scripts. I first declared an external camera :
Snapshot Acquire Script = /home/pi/gopro-py-api/gopro-take-snapshot.sh

[code]

Now, the Python script called by gopro-take-snapshot.sh :

[code]

But there is a huuuuuuuuuuuge problem : downloading the

[2019-02-24 00:31] FormerLurker commented on #322
Are your images on the SD card at all?  Try setting capturetarget = 1 if not.

I'm very glad your printer is going faster!  I'm going to be out for the evening, but should be around tomorrow AM.

[2019-02-24 00:33] FormerLurker commented on #309
Hmm.. sounds like the download will need to happen in the background, then the render script will have to wait for all downloads to finish before starting.  Octolapse does this already internally, but not for scripts :(

Can't wait to finish up what I'm working on now and to get a gopro to play with :)  I'll dig into your script more tomorrow, have to leave here soon.

[2019-02-24 00:37] yet-another-average-joe commented on #309
I think there's a problem. 22 sec for medium resolution. On my phone, the GoPro app needs 1-2 sec. On the author's demo video, with a higher res, it takes 11 sec from a Hero 3.

Is "$6" correct for passing this parameter to the Python script ?
How could I get a longer max timeout (I mean wher could I hack your sources ?)

[2019-02-24 01:03] FormerLurker commented on #309
The time out is in camera settings.  It should obey that.

[2019-02-24 01:08] yet-another-average-joe commented on #309
I'd like to set it to 35 or 40 sec in order to really test ; there's a limit at 25000ms . At the moment I can't get a timelapse, it timeouts with 25000.

[2019-02-24 02:46] yet-another-average-joe commented on #309
Yesssss !!!!!!!!!!!!!!!!!!!!!!!!!!!!! I found a solution to the problem !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Got it !!!!!!!!!!!!!!!!!!

The bottleneck was the integrated WiFi controller or it's configuration.

I suspected a WLAN performance issue or whatever : I deactivated it, and found a way to get a USB dongle to work (remember, I'm a RasPi/Linux noob). Link below :

And now it creates the GoPro obj

[2019-02-24 04:21] FormerLurker commented on #309
Oh the sweet taste of success.  Relish these moments, they don't come often :) looking forward to your next update!

[2019-02-24 11:24] yet-another-average-joe commented on #309
Next update could be powering on/off the camera . But it depends on the model, and there are 2 power on functions. The sensor and/or the chipset tend to get hot. Adds about 5 sec. Doing this, a snapshot would take less than 10 sec : power on, shoot, download, power off. Mode can also easily be set, but depends on the model and the user's preferences. But something's wrong at least with Hero 3 ; se

[2019-02-24 11:58] MineThingIssues commented on #322
The images don't appear on the camera at all from what I can see

[2019-02-24 12:11] MineThingIssues commented on #322
Sorry our time zones are quite different. I am in the UK which is about 5 or 6 hours ahead of most of America I believe. Right now it is 12:10pm in the uk

[2019-02-24 12:34] MineThingIssues commented on #322
Thank you :D Setting it to 1 seems to have done the trick! I am still getting the motion blur from the print head tho. Is there an efficient way to increase the delay between triggering and the print resuming?

[2019-02-24 12:45] MineThingIssues commented on #322
Here is my latest timelapse: https://photos.app.goo.gl/P8yFbA9z6N3Y16JB7. I remembered to set it to manual this time but there is still a change in lighting at the beginning due to the night and day transition. The camera missed no images (Done with the non-deferred image download one). Although I did forget that I hadn't set up the bitrate to be high until 4 hours into the print so it didn't take

[2019-02-24 17:48] MineThingIssues commented on #322
I will also change the aperture to get more in focus for next time I do a print of this scale

[2019-02-24 18:38] yet-another-average-joe commented on #322
A trick I use, and that could help : I first put something vertical, centered on the bed, where the thing will be printed. I let the autofocus do it's job, then I lock the focus (I switch to manual focus, and don't touch focus anymore). Then I use aperure mode, as you suggested. Powerfull lightings, ISO 400 or 800, f16 or f18 or even 22. But such a tiny aperture could give aberrations (diffraction

[2019-02-24 19:12] MineThingIssues commented on #322
I do a similar thing actually where I put an already printed model of about the same size on In the place where it will print and then set the focus with autofocus, I then switch to manual focus and make sure that I am on manual mode to stop the exposure from changing (An issue I discovered in my first timelapse). I then make sure that the aperture is what I like it to be and then set the shutter

[2019-02-24 19:24] scryharder commented on #134
I'd like to continue this thread, adding suggestions and my situation so you can see if this work around may be possible since I've been tearing my hair out for months because it worked great once, couldn't figure this requirement out, and could never find out why til today. Finally found it's this simple problem driving me crazy:

I'm using a lulzbot Taz 6, with the v3 dual extrusion upgrade. Thi

[2019-02-24 21:50] MineThingIssues commented on #322
Now that I would say that my issue is fixed, I will be closing this issue. Upgrading to the new Pi 3 B + was the main reason it was fixed, and I also believe that the deferred image download is also a solution to the problem. Thank you for all the help you have given me over the past week and I see a bright future for octolapse ahead! The community will continue to grow and the more issues you iro

[2019-02-24 21:51] #322 closed

[2019-02-24 22:20] MineThingIssues opened #326 "[REQUEST] gphoto2 built into octolapse with multi-camera support."
#### If this is a feature request describe it here
To save people the hassle of trying to install gphoto2 with the possibility of making a mistake and having to either start again or send an issue here where other people have to deal with it (Which could obviously get annoying at some point), having gphoto2 built right into octolapse could be incredibly handy. Having the latest version already ins

[2019-02-25 00:51] yet-another-average-joe commented on #325
I tested on a fresh OctoPi install, with no localization (so it should be en-US as there are en-GB and fr translation files in po subdirectory) : gphoto2 speaks american english.

I had a look to main.c, there is these lines (2192) :

[code]

But I don't know what it does. I imagine that ignoring this should let the program locale alone...

Adding an option "--nolocale" to gphoto2 could be the ide

[2019-02-28 17:30] FormerLurker commented on #325
@yet-another-average-joe, hey sorry about the delay.  I got (and still have) a bad case of the flu, so I've got a huge backlog both at work and in my git issues.  I'll start trying to clear them out ASAP after I start feeling better.

[2019-02-28 17:34] FormerLurker commented on #326
@MineThingIssues, sorry about the delay, been (and still am) really sick with the flu.  I think I can respond to this though.

The problem is GPhoto2 isn't something that I can add to the Octolapse installer (at least I don't know how).  I would LOVE for that to happen automatically.  I think our best bet would be to convince the good folks who maintain OctoPi to include it in their image (along w

[2019-02-28 17:35] yet-another-average-joe commented on #325
Take care of you ! Got this once, and only once : I remeber how bad I feeled. Timelapses can wait. On my side, I just came back to gopro api : I was finalizing a quick change hotend system.

[2019-02-28 17:51] FormerLurker commented on #134
@scryharder, Sorry for the late response, I have a bad case of the flu and have been out of commission for the last several days.

The reason Z-leveling is required is because it was an easy way to determine when the print was actually starting.  Since virtually any gcodes imaginable can be added to start gcode, and most people wouldn't want Octolapse to start taking snapshots without being homed

[2019-02-28 17:54] FormerLurker commented on #284
@diegotheslinger and @chilicoke, perhaps a wiki page needs to be created for each model that proves difficult to work with?

[2019-03-03 04:07] diegotheslinger commented on #284
Not to derail @chilicokes thread, but got octolapse working great 'out of the box' with the Canon Rebel Xsi.   I'll be trying the A6000 out next, I'll try and post some info if I have any luck.

[2019-03-03 20:17] dannieboiz opened #327 "Camera tested OK but no streams?"
I'm connecting Octolapse to an IP cam stream. In the settings, I'm able to test with no error. This same stream works in the built in timelapse but for Octoprint, I'm unable to get any image up.

I've tested both streams from blue iris as well as the direct stream from the camera but no go.

[2019-03-03 22:49] FormerLurker commented on #327
Octolapse doesn't show the webcam stream in its tab.  Instead, it shows the most recent snapshot, which will appear after you start printing.  Let me know if that helps!

[2019-03-04 02:33] yet-another-average-joe commented on #309
Today, I stress tested Octolapse with a triple timelapse while using TouchUI on a 7" HDMI LCD touchscreen + VNC client duplicating it + OctoPrint in a browser.

- GoPro 3 (WiFi, with a USB dongle and onboard deactivated)
- D5100 (USB)
- 1920p webcam (USB)
- virtual printer

Worked like a charm ! Just a little bit long to take it all togeter at render time :)))
The PSU made a huge difference : a 5

[2019-03-04 13:57] ulitiy opened #328 "How can I force rendering?"
Version: 0.3.4
OctoPrint Version: 1.3.10
Diagnostic Logging was Enabled: NO

1. I printed
2. **Rpi had some issue after the print so I couldn't access it until hardware reset**
3. Now **I don't have a video result but I have the snapshots in the folder**

**How can I force rendering?**

OS Name: Octopi
Os Version: 0.15.1

Printer Model: Prusa i3 mk3
Printer Firmware Version: 3.5.1-1778

Logs: http

[2019-03-05 15:52] FormerLurker commented on #328
Yeah, I probably need to add some routine to render failed timelapses.  As of now you'll need to download the images and manually render them (a pain in the butt, I know).  The good news is that should be properly named to use either ffmpeg or avconv to generate your timelapse.

I'll think about some kind of routine to search for and render timelapse images that are found on reboot to fix this in

[2019-03-05 18:36] varoonm commented on #112
Hi FormerLuker....i am having a similar issue where octolapse is only capturing one image for the entire print. I am using CR-10s and have already set-up G90 .  Priming height in Octolapse is set to .75mm. Can you please take a look at my Gcode file to analyze what might be going wrong here. Thanks

[CCR10_Reb_Data_Stick.txt](https://github.com/FormerLurker/Octolapse/files/2932294/CCR10_Reb_Data_S

[2019-03-05 19:02] FormerLurker commented on #112
@varoonm,

Looks like you're running the gcode trigger probably.  Using 'G4 P1' is not the standard snapshot command also.  Having your settings.json file would be most helpful, btw.

Have you tried the 'Layer Change Compatability' trigger?  If not, I recommend trying that before moving to the gcode trigger.

[2019-03-05 20:56] MineThingIssues commented on #326
Hope you get better soon! Sorry for the late reply, I have been pretty busy recently and I forgot to check for a reply. I am not a developer and have very limited knowledge of python or any other programming language so forgive me if I say something that doesn't make sense or is outright stupid:

My idea is to have some sort of button that the user can press that runs a script that runs these comm

[2019-03-06 17:35] MineThingIssues commented on #326
ok, I have written a very basic script that may or may not work. I have not tested as of yet, but if it does work, It would be cool to have it linked in one of the guides to help people who are afraid of forgetting a step or messing something up. WARNING: Needs a restart after completion for the sudoers file to be updated or something like that. I did not add that to the script because someone may

[2019-03-06 17:40] FormerLurker commented on #326
I haven't had a chance to review the quite large volume of scripts you've sent (impressive, btw), but I wanted to show you [this script](https://github.com/gonzalo/gphoto2-updater) if you haven't seen it.  It only downloads and installs (or uninstalls if necessary) gphoto2, but it's quite through.  Git has been scripted in OctoPi, so I did have to make a minor change due to this in order to get th

[2019-03-06 18:30] MineThingIssues commented on #326
Wow, that looks complex, yet it looks like it does a pretty similar technique for installing gphoto2, but I guess it has a lot of checks to make sure that it all works perfectly and replaces the older version of gphoto2 correctly (something I couldn't work out how to do manually at all and had to do a fresh install of OctoPi originally). My script is designed to run on a pi that does not have gpho

[2019-03-07 17:42] pingouin84 opened #329 "Communication error"
#### If this is a feature request describe it here

Communication error

#### Version of Octolapse

Octolapse Version: 0.3.4

#### Version of OctoPrint

OctoPrint Version: 1.3.10

#### When you ran into the problem, did you have diagnostic logging enabled?

Diagnostic Logging was Enabled: YES

#### What were you doing when the problem occurred

1. Go print
2. position snapshot
3. snapshot
4. commu

[2019-03-07 18:05] FormerLurker commented on #329
I see that you are running multiple cameras.  It looks like your DSLR is timing out.  Can you try running without the DSLR to see if you get the same error?  If not, turn off the webcam and try it again with ONLY the dslr and let me know what happens.  Also, if you post your snapshot script for the DSLR that may help a bit too.

Also, have you ever gotten the DSLR to work, or is this your first ti

[2019-03-07 18:12] pingouin84 commented on #329
web cam OK
DSLR (nikon coolpix S3600) KO

`#!/bin/sh
# Put the arguments sent by Octolapse into variables for easy use
SNAPSHOT_NUMBER=$1
DELAY_SECONDS=$2
DATA_DIRECTORY=$3
SNAPSHOT_DIRECTORY=$4
SNAPSHOT_FILENAME=$5
SNAPSHOT_FULL_PATH=$6

# Check to see if the snapshot directory exists
if [ ! -d "${SNAPSHOT_DIRECTORY}" ];
then
  echo "Creating directory: ${SNAPSHOT_DIRECTORY}"
  mkdir -p "${SNAPSH

[2019-03-07 18:14] pingouin84 commented on #329
test /home/pi/scripts/take-snapshot.sh 1 1 "" "/home/pi/scripts" "" "/home/pi/scripts/test.jpg" OK

[2019-03-07 18:16] FormerLurker commented on #329
Please surround your code with triple `s like so:
[code]

Due to the formatting I can't be sure, but if you have an apostrophe in front of this command like so:
[code]
the scrip will not work.

When you run that test script does a jpg get downloaded?  Finally, I assume you edited your sudoers file and rebooted like the guide says, right?

[2019-03-07 18:18] pingouin84 commented on #329
' error post comment

[2019-03-07 18:30] pingouin84 commented on #329
the script function very well, tested with /home/pi/scripts/take-snapshot.sh 1 1 "" "/home/pi/scripts" "" "/home/pi/scripts/test.jpg"

[2019-03-07 19:20] FormerLurker commented on #329
@pingouin84, don't be fooled into thinking that just because the test above succeeded that there can be no problems executing this command within OctoPrint.  Here are the log entries where the snapshot script is being executed:

[code]
This wait loop continues until right around here:
[code]

Since handle timeout gets called, it looks like your default communication timeout is being hit before you

[2019-03-07 20:00] pingouin84 commented on #329
the script my 18 sec to execute.

I double the time temperature interval polling and autoport, it works now

[2019-03-07 20:03] FormerLurker commented on #329
That's a really long time to acquire an image, and I'm sure your print quality will suffer.  Take a look at [this guide](https://github.com/FormerLurker/Octolapse/wiki/DSLR-with-Deferred-Image-Download) to defer download until AFTER your print is complete.  You won't get any snapshot previews, but your capture time will be GREATLY reduced.

[2019-03-07 22:49] pingouin84 commented on #329
what are the solutions to reduce the time of the script?

[2019-03-07 22:54] FormerLurker commented on #329
Did you notice that you embedded a link to a guide in my last post?  With it you can delay download of all images until after the print is s complete.  The scripts are still beta, so you may have to experiment a bit.

[2019-03-08 21:57] pingouin84 commented on #329
I'm going to watch because the --trigger-capture function is not available on my device

[2019-03-09 12:09] #329 closed

[2019-03-09 14:42] wtfdic commented on #321
Having a very similar issue. Went through everything in the other thread about PSU and got pretty far now I am facing this error when installing Octolapse:

Command "/home/pi/oprint/bin/python2 -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-ETznR_/pillow/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, '

[2019-03-09 22:09] FormerLurker commented on #321
@wtfdic, have you updated pip or tried installing pillow manually?  There are instructions above.  Let me know if you need help.

[2019-03-10 00:35] wtfdic commented on #321
@FormerLurker got it working here are the steps that worked for me:

source oprint/bin/activate
sudo apt-get update
sudo apt-get upgrade
sudo apt-get dist-upgrade
sudo apt-get install python-dev
pip install --upgrade pip
sudo apt-get install libjpeg62
sudo apt-get install libjpeg62-dev
sudo apt-get install zlib1g-dev
sudo apt-get install libfreetype6-dev
sudo apt-get install liblcms1-dev
sudo apt-

[2019-03-10 01:37] FormerLurker commented on #321
@wtfdic, are you running the latest octopi image?  Glad you got it working!

[2019-03-10 12:22] wtfdic commented on #321
@FormerLurker yes running 0.16.0 on a Raspberry Pi 3 A+

[2019-03-11 03:53] scryharder commented on #134
@FormerLurker No worries on response time, I am busy working all the time, then sometimes want to mess with this or sometimes just want a working print thing to go without worrying about the camera.

I tried what you suggested with the G92 O and it didn't seem to work. I THINK I turned off auto position detection, but I can't be certain since I can't seem to find the spot again!

Let me give you a

[2019-03-11 13:03] FormerLurker commented on #134
Thanks for your input!  I'll review the process a bit more once the latest round of changes are in place since I don't want to change too much at once :)

Regarding your timeout issue, you can go to Octoprint Settings (wrench/spanner icon), then to Serial Connection->Firmware & Protocol, then under the 'Protocol fine tuning' advanced section you can add your probe sequence command to the list of '

[2019-03-11 21:53] LMITAB commented on #309
I would like to try this one... i have a Gopro 6 and running Octolapse on Prusa MK3S

[2019-03-11 23:34] yet-another-average-joe commented on #309
Ooops, I forgot to upload...

There's no big difference. It's just more readable, with instructions in the comments.

It should work with the H6. You will have to install Python 3.6+ and gopro-py-api

The 2 scripts are in the ZIP :

[gopro-take-snapshot.zip](https://github.com/FormerLurker/Octolapse/files/2954573/gopro-take-snapshot.zip)

[2019-03-12 08:23] yet-another-average-joe commented on #309
Octopi comes with 2.7 and 3.5
This will install 3.6 without overwriting 2.7
3.x and 2.7 are différent.

[2019-03-12 23:31] LMITAB commented on #309
should these be edit or ???

SNAPSHOT_NUMBER=$1
DELAY_SECONDS=$2
DATA_DIRECTORY=$3
SNAPSHOT_DIRECTORY=$4
SNAPSHOT_FILENAME=$5
SNAPSHOT_FULL_PATH=$6

[2019-03-13 00:14] yet-another-average-joe commented on #309
NO !!!
These are the parameters sent by OctoLapse to the scripts.

1 - install Python 3.6 (script is above)
2 - install gopro-py-api (script is above)
3 - create or copy the scripts from the archive to /home/pi/scripts (instructions are in the scripts headers)
4 - call gopro-take-snapshot.sh from OctoLapse field "External Camera Setup, Snapshot Acquire Script : see screen copy

![gopro-cotolapse](

[2019-03-13 00:22] LMITAB commented on #309
ok, how should the gopro be connected.. thru wifi or

[2019-03-13 00:34] yet-another-average-joe commented on #309
WiFi ! Do NOT use the onboard adapter. Deactivate it. It sucks. Use a WiFi dongle, or you will get many timeout errors.

Use a USB power supply. With the H3, if the USB is connected to a computer, it turns into mass storage mode. So, use a mains adapter or a power bank, or chances are you will not be able to take photos. I don't know the H6 (nor 5 and 4), but with the H3 it is better not to use a

[2019-03-13 00:36] LMITAB commented on #309
ok, right now my gorpo just keep on saying wifi not ready ....

[2019-03-13 01:31] LMITAB commented on #309
got something runnig :)

/home/pi/scripts/gopro-take-snapshot.sh
Creating directory:
mkdir: cannot create directory ‘’: No such file or directory
/home/pi/scripts/gopro-take-snapshot.sh: 34: /home/pi/scripts/gopro-take-snapshot.sh:
        We just replace the call to gphoto2 with a call
        to a Python script that will shoot photos with the GoPro.

        It takes one argument : ▒6, the full

[2019-03-13 01:31] LMITAB commented on #309
pi@octopi:~ $ /home/pi/scripts/gopro-take-snapshot.sh
Creating directory:
mkdir: cannot create directory ‘’: No such file or directory
/home/pi/scripts/gopro-take-snapshot.sh: 34: /home/pi/scripts/gopro-take-snapshot.sh:
        We just replace the call to gphoto2 with a call
        to a Python script that will shoot photos with the GoPro.

        It takes one argument : ▒6, the full path name t

[2019-03-13 08:29] yet-another-average-joe commented on #309
Waking up means the GoPro was not ON, or the WiFi OFF or communication error.
WiFi must be configured in /boot/octopi-wpa-​supplicant.txt. if you use a WiFi dongle, the configuration is more complicated.

At least, you have the libraries and the scripts installed !

[2019-03-13 12:45] LMITAB commented on #309
when i execute the script now... it seams to lock the octoprint for a while (not sure how long).. i get no errors...but octopi seams to lock it self and " waiting" for the script too come back...

after a few minutes it seam to timeout and octoprint is back operating

[2019-03-13 14:56] LMITAB commented on #309
There were 1 errors while applying custom camera settings/scripts:
camera_initialization_error: The custom camera initialization script failed with the following error message: mkdir: cannot create directory ‘’: No such file or directory
Traceback (most recent call last):
File "/home/pi/scripts/gopro-py-api/gopro-take-snapshot.py", line 32, in
urlFileName=cam.take_photo() # default : delay = 1sec

[2019-03-13 14:56] LMITAB commented on #309
/home/pi/scripts/gopro-take-snapshot.sh
Creating directory:
mkdir: cannot create directory ‘’: No such file or directory
Waking up...
Waking up...
Waking up...
Error, camera not defined.
Traceback (most recent call last):
  File "/home/pi/scripts/gopro-py-api/gopro-take-snapshot.py", line 32, in <module>
    urlFileName=cam.take_photo() # default : delay = 1sec
  File "/home/pi/scripts/gopro-py-ap

[2019-03-13 15:17] FormerLurker commented on #309
FYI, I just got a hero 3 to play with thanks to a generous friend.  I will hopefully have time to poke around in the next few weeks.  Currently I'm finishing up some stuff for the next release of Octolapse, which is exciting.

[2019-03-13 15:33] yet-another-average-joe commented on #309
Once again, this means that the GoPro and gopro-py-api do not communicate. These messages are issued by gopro-py-api. You MUST solve this problem. You have to test according to the tutorial  video by the author of gopro-py-api
Camera ON
WiFi ON
Raspi WiFi set to GoPro access point
GoPro set to GoPro App mode

Can you communicate using a smartphone with GoPro App ?

If the GoPro is set to be used w

[2019-03-13 16:06] LMITAB commented on #309
Sweden...

[2019-03-13 18:10] yet-another-average-joe commented on #309
@FormerLurker : fine ! About Python : I read that 2.7 is end of life, and it seams to me that Foosel explained in a recent video that she was working on a new OctoPrint rewritten to work with v 3.x (to be verified... She speaks too fast for me !). This could make gopro-py-api installation as easy as gphoto2 if OctoPi and OcloPrint come with 3.6+ in a future release. At this time it is 3.5, and the

[2019-03-13 19:26] LMITAB commented on #309
Ii found the error... i must have ths Gopro in 2.4 Ghz not 5 Ghz

pi@octopi:~ $ /home/pi/scripts/gopro-take-snapshot.sh
Creating directory:
mkdir: cannot create directory ‘’: No such file or directory
HERO6 Black
HD6.01.02.01.00
Camera successfully connected!
{}

{}

Its stays like the above and ? waits maybe for next call (i dont know)

[2019-03-13 19:31] LMITAB commented on #309
if i try execute the script once more in octoprint it wont respond...and gives me error.

But if i just waits for the error and then excute the script once more it works again...????

There were 1 errors while applying custom camera settings/scripts:
camera_initialization_error: The custom camera initialization script failed with the following error message: mkdir: cannot create directory ‘’: No s

[2019-03-13 19:53] LMITAB commented on #309
i got some more progress...
I started a print with octolapse in test mode and the gorpro take a snap then take 1 more snap right after the first one...then this error comes up...
and when the layer is ready it takes "2" more snaps... and keep on doing this

I found out that i had the script call "/home/pi/scripts/gopro-take-snapshot.sh" in 2 places...in octolapse gui

Octolapse - Camera Error
snap

[2019-03-13 20:15] LMITAB commented on #309
i also tested in real mode and i get the timeouts all the time... and also this error ...

Octolapse Rendering Failed
insufficient-images: No snapshots were found for the 'GoPro' camera profile.

The script does fire the gopro and i takes snapshot thats in the camera...

[2019-03-13 20:55] pingouin84 commented on #329
little HS, I can not trigger the capture on M117 Snap

[2019-03-14 00:48] yet-another-average-joe commented on #309
All the errors you report are neither OctoLapse related, neither script related. They are gopro-py-api + GoPro related.

Once again you must first setup and test gopro communications from a Python console, as explained by KonradIT in his videos. The same way FormerLurker explains a DSLR has to be tested when using gphoto2.

Do this https://vimeo.com/209181246 ; it is for H3, but it shouyld work. I

[2019-03-14 05:32] Boymeetsmill commented on #207
I backed up my settings, and installed the RC (0.3.5rc1.dev0) per your instructions. But I haven't been able to print with the plugin running...

First couple prints (High Quality Mode) attempted I received an error, that I thought I screen shot but lost). The print would start, but nothing would happen.  I would attempt to cancel the print, and even disable the time lapse, but the only remedy was

[2019-03-14 10:36] Canyonazo commented on #193
Hello, is there any unofficial version for delta printers?

[2019-03-14 18:31] FormerLurker commented on #329
@pingouin84, I think in version 0.3.4 that the snapshot command (printer profile) is case sensitive.  Make it all caps in both places for now like so:  M117 SNAP.  The development version has this fixed, but isn't ready for public consumption unfortunately.

[2019-03-14 18:34] FormerLurker commented on #309
@yet-another-average-joe, I'm aware of the python 3 compatibility in an upcoming release of OctoPrint, and even understand how to implement it.  I'm not worried about this.  I'm going to be making Octolapse compatible with both 2.7 and 3+ soon.  It is mostly already, but there are a few pieces that aren't, or that will operate differently in 3.

When I start on the GoPro plugin I will make it 3.6+

[2019-03-14 18:35] FormerLurker commented on #309
@LMITAB, try increasing your camera timeout to from 5 seconds to 30 seconds for testing purposes.  it seems like there is a lot of variability in how long it takes to get an image from the gopro, and having a short timeout is not good for debugging.

[2019-03-14 18:50] FormerLurker commented on #207
Wait you installed 0.3.5?  I think you should re-install the master version from the plugin manager, because 0.3.5 isn't ready for public consumption.  Unfortunately you probably need to restore the default settings since I haven't included a downgrade migration for the settings :(  FYI the most recent development version is in the 'New Settings' branch right now, since I don't even feel it's read

[2019-03-14 19:06] LMITAB commented on #309
ok, will try it... im all over trying to get a usb wifi to work ... the one i had (old one) doesnt seam to work with rpi3 anymore...

Bus 001 Device 005: ID 07b8:8188 AboCom Systems Inc AboCom Systems Inc [WN2001 Prolink Wireless-N Nano Adapter]

Going to find a new one tomorrow...hopefully they have one thats comp with the rpi

[2019-03-14 19:15] yet-another-average-joe commented on #309
It should work. I just Googled the WN2001, it is a Realtek RTL8192U chip, and it is what I am currently using (noname dongle with this chip on my side).

[2019-03-14 19:21] LMITAB commented on #309
![image](https://user-images.githubusercontent.com/41346304/54385350-ad6ab100-4696-11e9-8fa1-e7e2c9ed3239.png)

[2019-03-14 19:22] LMITAB commented on #309
i dont know how to get it working in this case i tried everything (i think) ;)

[2019-03-14 19:23] LMITAB commented on #309
[    2.211484] usb 1-1.1.2: new high-speed USB device number 5 using dwc_otg
[    2.343792] usb 1-1.1.2: New USB device found, idVendor=07b8, idProduct=8188
[    2.346507] usb 1-1.1.2: New USB device strings: Mfr=1, Product=2, SerialNumber=3
[    2.351738] usb 1-1.1.2: Product: RTL8188S WLAN Adapter
[    2.354429] usb 1-1.1.2: Manufacturer: Manufacturer Realtek
[    2.357035] usb 1-1.1.2: SerialNu

[2019-03-14 19:24] LMITAB commented on #309
pi@octopi:~ $ wpa_supplicant -Dwext -iwlan0 -c/etc/wpa_supplicant/wpa_supplicant.conf
Successfully initialized wpa_supplicant
Line 6: failed to parse ssid '”****”'.
Line 6: failed to parse ssid '”****”'.
Line 7: Invalid PSK '”*********”'.
Line 7: failed to parse psk '”********”'.
Line 16: failed to parse id_str '”Name of WiFi Network”'.
Line 16: failed to parse id_str '”Name of WiFi Network”'.
Lin

[2019-03-14 19:27] LMITAB commented on #309
pi@octopi:~ $ lsmod
Module                  Size  Used by
xt_tcpudp              16384  1
iptable_mangle         16384  1
xt_DSCP                16384  1
bnep                   20480  2
hci_uart               36864  1
btbcm                  16384  1 hci_uart
serdev                 20480  1 hci_uart
bluetooth             368640  24 hci_uart,bnep,btbcm
ecdh_generic           28672  1 bluetooth
r8712

[2019-03-14 19:30] FormerLurker commented on #207
OH my gosh, I have been working on too many github issues, and royally messed up my response!
 I was reading an earlier post that I'd sent, and not the most recent.  IGNORE EVERYTHING I SAID.  It's a good thing I decided to re-read the last few messages!

Ok, so a TON has changed in the new_settings branch since I sent you that last message.  I haven't created any guides or even updated the instru

[2019-03-14 19:38] FormerLurker commented on #328
FYI, the images should be available in /home/pi/.octoprint/data/octolapse/snapshots/{some crazy guid}/{another crazy guid}/

I'm going to mark this closed.  Let me know if you want me to reopen, or if you need help getting your images.  Look for the option to render failed timelapse images in a future version of Octolapse.  Probably not the next version, but definitely the one after that.

[2019-03-14 19:38] #328 closed

[2019-03-14 19:40] FormerLurker commented on #327
@dannieboiz, I'm going to close this issue for now, since I don't think there is any error here.  I am planning to make it more clear what that image preview is for, and might even add live stream or snapshot capabilities in an upcoming release.

Let me know if you want me to reopen!

[2019-03-14 19:40] #327 closed

[2019-03-14 19:45] FormerLurker commented on #321
I'm really confused as to why Pillow seems to install fine for some people on the newest OctoPi, but not for others.  If it's not PSU related, perhaps some other version of libjpeg62-dev was installed previously before your PSU issues were sorted out?  In any case, since we probably can't replicate the issue anymore (it works for me with a fresh install), I'm going to close this issue.  I really w

[2019-03-14 19:45] #321 closed

[2019-03-14 19:47] yet-another-average-joe commented on #309
Dit you follow the instructions from https://www.electronicshub.org/setup-wifi-raspberry-pi-2-using-usb-dongle/ ?

Did you write the SSID and password of your GoPro in /etc/wpa_supplicant/wpa_supplicant.conf ? It seems you did'nt ! boot/wpa_supplicant.conf and raspi-config are useless with a dongle. Is your GoPro in GoPro App mode ?

Error messages without context are not really usefull !

[2019-03-14 19:51] FormerLurker commented on #309
Hey @yet-another-average-joe, can you shoot me an email at FormerLurker@pm.me at your convenience please?  Thanks!

[2019-03-14 20:07] LMITAB commented on #309
ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=GB

network={

ssid=”GP25083821”

psk=”sail4621”

proto=RSN

key_mgmt=WPA-PSK

pairwise=CCMP TKIP

group=CCMP TKIP

id_str=”Name of WiFi Network”

}

[2019-03-14 21:39] LMITAB commented on #309
ok, soo now i have it up and running...

The gopro is connected to my rpi the usg dongle and i have connection and can trigger the sripct both in octopi and terminal....

Im not able to cennect the gopro thru 5ghz...i dont know if the usb dongle support 5 ghz..so im on 2.4 right now
I still get timoeout in octoprint...i tried diffrent sec but still it timeout..

pi@octopi:~ $ systemctl status netw

[2019-03-14 21:41] yet-another-average-joe commented on #309
When you post logs or config files, put the text betwenn cotes : < > icons ; il will be more readable (by far !)

try this ; don't forget to change the the country  so that the same channels  are used. Not sure it has any effect, but who knows... (in the text below, it is set to France). This is my conf file, whit you GoPro SSID and password

[code]

[2019-03-14 21:51] yet-another-average-joe commented on #309
Please, stop using OctoLapse for testing !!!!!

Use Python 3.6
Change directory for /home/pi/gopro-py-api ; in a console, type :
The GoPro must be ON

`cd /home/pi/gopro-py-api`

type :

`python3.6`

this will open a Python 3.6 console.

Now type :

`from cam import GoProCamera, constants`

then

`cam = GoProCamera.GoPro()`

then

`cam.take_photo()`

Does your gopro take a photo ???????

to quit P